body{
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 12px;
	color: #333333;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}

td{
	font-size: 12px;
	color: #333333;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}

li{
	font-size: x-small;
	line-height: 160%;
	font-family:"Arial", "‚l‚r ƒSƒVƒbƒN"
}

p{
	font-size: x-small;
	font-family:"Arial", "‚l‚r ƒSƒVƒbƒN"
}

A{
	text-decoration: underline
}

/* ¥‰p«˜YŒŸõ•¶š—ñ—p¥ */
.ejr_e{
	font-weight: bold;
	font-family: "Arial", sans-serif;
}

/* ¥˜a‰p«˜YŒŸõ•¶š—ñ—p¥ */
.ejr_j{
	font-weight: bold;
	font-family: "Arial", sans-serif;
}

/* ¥ã•”ƒWƒƒƒ“ƒ‹ƒŠƒ“ƒN—p¥ */
A.genre_t1:active{color:#FFFFFF;text-decoration:none}
A.genre_t1:visited{color:#FFFFFF;text-decoration:none}
A.genre_t1:hover{color:#FFFFFF;text-decoration:underline}
A.genre_t1:link{color:#FFFFFF;text-decoration:none}

/* ¥ƒRƒ‰ƒ€—p¥ */
.ad{
	font-size:12px;
	line-height:14px;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}






.navi{
	font-size:12px;
	line-height:15px;
	letter-spacing:0px;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN"
}

.e9{
	font-size:9px;
	line-height:10px;
	font-family: "Arial", sans-serif
}
.e10{
	font-size:10px;
	line-height:11px;
	font-family: "Arial", sans-serif
}
.e12{
	font-size:12px;
	line-height:14px;
	font-family: "Arial", sans-serif
}
.e12x{
	font-size:12px;
	line-height:18px;
	font-family: "Arial", sans-serif
}
.e18{
	font-size:17px;
	font-family: "Arial", sans-serif
}
.e18b{
	font-size:17px;
	font-family: "Arial", sans-serif;
	font-weight: bold
}

.eT9{
	font-size:9px;
	line-height:10px;
	font-family: "Times New Roman", serif
}
.eT10{
	font-size:10px;
	line-height:11px;
	font-family: "Times New Roman", serif
}
.eT12{
	font-size:12px;
	line-height:14px;
	font-family: "Times New Roman", serif
}
.eT12x{
	font-size:12px;
	line-height:18px;
	font-family: "Times New Roman", serif
}
.eT18{
	font-size:17px;
	font-family: "Times New Roman", serif
}
.eT18b{
	font-size:17px;
	font-family: "Times New Roman", serif;
	font-weight: bold
}

.j9{
	font-size:10px;
	line-height:12px;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}
.j10{
	font-size:11px;
	line-height:13px;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}
.j12{
	font-size:12px;
	line-height:15px;
	letter-spacing:0px;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}
.j12id{
	font-size:12px;
	line-height:15px;
	letter-spacing:0px;
	font-family:"‚l‚r ƒSƒVƒbƒN";
	ime-mode:disabled
}
.j12x{
	font-size:12px;
	line-height:19px;
	letter-spacing:0px;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}
.j14{
	font-size:14px;
	line-height:18px;
	letter-spacing:1px;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}
.j18{
	font-size:17px;
	line-height:22px;
	letter-spacing:-1px;
	font-family:"‚l‚r ƒSƒVƒbƒN"
}
