@charset "UTF-8";

/* ▼ layout ▼
---------------------------------------------------- */
/* added 081126 */
* {
	margin: 0;
	padding: 0;
}


/* added 081126 / modified 100405 */
body {
	background-color: #FFFFFF;
	width: 100%;
	color: #222;
	font-size: 80%;
}

/* ブロック格納用ボディ：added 081126 /modified: 100405 */
#AreaBody {
	margin: 0 auto;
	padding:10px 0;
	max-width: 950px;
	background-color: #FFFFFF;
}

/* IE6 用：added 100405 */
*html #AreaBody {
	width: expression((document.documentElement.clientWidth > 950)? "950px" : "auto"); 
}

/* ヘッダ：左：added 100405 */

#AreaHeaderLeft {
	float: left;
	width: 150px;
	margin-right: -150px;
	position: relative;
	z-index: 2;
}

/* ヘッダ：中央：added 100405 */
#AreaHeaderCenter {
	float: left;
	width: 100%;
	text-align: center;
	margin-right: -120px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#AreaHeaderCenterContainer {
	margin-left: 150px;
	margin-right: 120px;
}

/* ヘッダ：右：added 100405 */
#AreaHeaderRight {
	float: left;
	width: 120px;
	position: relative;
	z-index: 2;
}

/* 本体上部（コンテンツ）：左：added 081126 */
#AreaUpperLeft {
	width: 100%;/* modify 100405 */
	font-family: "Arial", "Arial New", "ＭＳ Ｐゴシック", Sans-Serif;/* modify 100405 */
	background-color: #FFFFFF;
	line-height: 165%;
}

/* フッタ：added 100405 */
#AreaFooter {
	width: 100%;
	clear: both;
	padding-top: 10px;
}

#AreaFooter a,
#gnav950 a {
	color: #004098;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	font-size: 90%;
}

#AreaFooter a:hover,
#gnav950 a:hover {
	color: #004098;
	text-decoration: none;
}


/* ▼ navigation ▼
---------------------------------------------------- */
#gnav950 {
	width: 950px;
	margin-bottom: 0px;
}

#gnav950 #gnav_main {
	float: left;
	width: 868px;
	border: solid 1px #7f9fcb;
}

#gnav950 #gnav_main .inner {
	border: solid 1px #fff;
	background: #fff url(./img/gnav_bg.jpg) repeat-x left top;
}

#gnav950 ul {
	list-style: none;
}

#gnav950 #gnav_main li {
	float: left;
	width: 108px;
	margin: 2px 0;
	padding: 3px 0;
	text-align: center;
	background: url(./img/gnav_sparator.gif) repeat-y right center;
}

#gnav950 #gnav_main li.w110 {
	width: 110px;
}

#gnav950 #gnav_main .no_separator {
	background: none;
	border: none;
	width: 105px;
}

#gnav950 #gnav_sub {
	float: right;
	width: 72px;
}

#gnav950 #gnav_sub li {
	padding: 1px 0 1px 12px;
	font-size: 9px;
	background: url(./img/arrow_04.gif) no-repeat left center;
}



#pagetop {
	margin-bottom: 10px;
	text-align: right;
	float: right;
}

#footer {
	clear: both;
	border-top: solid 1px #666;
	text-align: center;
}

#footerInfo {
	text-align: center;
}

#footer1 {
	border-bottom: solid 1px #999;
	padding: 6px 0 4px 0;
}

#footer2 {
	padding: 4px 0;
}

#footer3 {
	border-bottom: solid 1px #666;
	padding: 4px 0;
}

#copyright {
	padding: 8px 0;
}


/* ▼ parts ▼
---------------------------------------------------- */
/* フロート制御：added 081126 / modified 100405 */
br.cl_l {
	clear: both;
}

/* 点線：added 081126 */
div.bg_i {
	padding-top: 5px;
}

/* 仕切り線：added 081127 */
.partition {
	width: 100%;
	height: 1px;
	border-top: 1px solid #CCCCCC;
	margin: 5px 0;
}

/* 検索補助：added 081126 */
div.sas {
	margin: 3px 0px 10px 0px;
}

/* マージン設定：：added 081126 */
.mt_05 {
	margin-top: 5px;
}

.mt_10 {
	margin-top: 10px;
}

.mt_20 {
	margin-top: 20px;
}

.mr_05 {
	margin-right: 5px;
}

.mr_10 {
	margin-right: 10px;
}

.mb_3 {
	margin-bottom: 3px;
}

.mb_10 {
	margin-bottom: 10px;
}

.ml_05 {
	margin-left: 5px;
}


/* その他：added 100405
------------------------------------*/
.left { 
	float: left; 
	display: inline;
}


/* ▼ results ▼
---------------------------------------------------- */

#resultArea a:link, 
#resultArea strong a:link {
	color: #000088;
	text-decoration: none;
}

#resultArea a:visited, 
#resultArea strong a:visited {
	color: #00008B;
	text-decoration: none;
}

#resultArea a:hover,
#resultArea strong a:hover{
	color: #0000FF;
	text-decoration: underline;
}

#resultArea a:active,
#resultArea strong a:active{
	color: #0000FF;
	text-decoration: underline;
}

/* 検索結果
---------------------------------------------------- */
#resultList ul{
	margin-left: 1.3em;
	padding-left: 0;
}

#resultList ol{
	margin-left: 2em;
	margin-bottom: 10px;
	padding-left: 0;
}

#resultList li div{
	margin-bottom: 5px;
}

#resultList td {
	line-height: 160%;
	padding-bottom: 10px;
	padding-left: 10px;
}

/* suggest
---------------------------------------------------- */

#suggest {
	position: absolute;
	background-color: #FFFFFF;
	border: 2px solid #AAAAAA;
	padding: 2px;
	font-size: 9pt;
	width: 400px;
}

#suggest div {
	display: block;
	width: 400px;
	overflow: hidden;
	white-space: nowrap;
}

#suggest div.over {
	background-color: #AACCFF;
}

#suggest div.select{
	color: #FFFFFF;
	background-color: #3366FF;
}

#suggestclose {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

/* icon page title
---------------------------------------------------- */
.iconPageTitle{
	padding: 5px;
	background-color: #E6E7EF;
	vertical-align: sub;
}

.iconPageTitleText{
	color: #483d8b;
	font-size: 13pt;
	font-weight: bold;
}

.iconPageTitleS{
	padding: 3px;
	background-color: #EDEFFF;
	border-bottom: 2px #9CA5ED solid;
	vertical-align: sub;
}

.iconPageTitleTextS{
	color: #483d8b;
}

/* 文字装飾
---------------------------------------------------- */

h2 {
	margin: 20px 0 10px 0;
	padding: 1px 0 1px 12px;
	background: url(./img/listmark.gif) 0 center no-repeat;
	font-size: 120%;
}

.lnavi {
	font-size: 9pt;
}

.midashi{
	color: #00008B;
	font-size: 110%;
	font-weight: bold;
}

.searchwordfont{
	color: #DC143C;
/*	font-size: 110%; */
	font-weight: bold;
}

.expmidashi{
	color: #DC143C;
	font-size: 110%;
	font-weight: bold;
}

.expwordfont{
	color: #DC143C;
/*	font-size: 110%; */
	font-weight: bold;
}

.smallfont{
	font-size: 8pt;
}

.smallredfont{
	color: #DC143C;
	font-size: 7pt;
}

.wordclass{
	color: #34429C;
}

.kana{
	color: #808080;
}

.hklabel{
	color: #008000;
}

.idmlabel{
	color: #008000;
}

/* ラベル（通常）：added 090728 */
.key{
	background-color:#DDDDDD;
	padding: 4px;
	font-family:monospace;
	border-bottom: 2px solid #888888;
	border-right: 2px solid #888888;
}

/* 全文表示：added 081126 */
span.vat {
	white-space: nowrap;
}

#searchWord {
	font-size: medium;
	color: #DC143C;
}


/* 検索文字列（変化形）：added 090401 */
.gradableWord {
	text-decoration:none;
	font-weight: bold;
}

/* ラベル（通常）：added 081126 */
span.ls_normal {
	font-family: Verdana, Sans-Serif;
	font-size: 9pt;
	color: #444444;
	background-color: #EEEEFF;
	border: solid #BBBBBB 1px;
	padding: 2px 2px 2px 2px;
	margin: 0px 5px 0px 5px;
	white-space: nowrap;
}

/* ラベル（注意）：added 081126 */
span.ls_alert {
	font-family: Verdana, Sans-Serif;
	font-size: 9pt;
	color: #444444;
	background-color: #FFCC66;
	border: solid #BBBBBB 1px;
	padding: 2px 2px 2px 2px;
	margin: 0px 5px 0px 5px;
	white-space: nowrap;
}

/* 発音記号：added 090630 */
span.pron {
	font-family: "Lucida Sans Unicode", "Times New Roman", Times, Serif;
	font-size: 12pt;
}
span.proni {
	font-style: Italic;
}

/* ▼ misc ▼
---------------------------------------------------- */
.alertmsg {
	margin: 0px 0px 5px 0px;
	padding:5px;
	border: 3px #DC143C dotted;
}

/*	clearfix
------------------------------------*/
.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
.clearfix {
	_height: 1px;
	min-height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* ranking
---------------------------------------------------- */
/* added 091216 */

div#top50{
margin: 15px 0;
}

div#top50 td{
margin:0;
padding:0.1em 0;
}

div#top50 td.item{
background-color: #EEEEFF;
text-align: center;
}

div#top50 td.content{
padding-left:0.5em;
}

div.ranking_eiwa{
float:left;
margin-right:10px;
}

.type{
font-size: 14px;
color:#990033;
font-weight: bold;
}

div.shop {
width: 300px;
height: 430px;
display: inline-block;
_display:inline;
_zoom:1; /* hasLayout を true にする */
*display:inline;
*zoom:1; /* hasLayout を true にする */
vertical-align: top;
text-align: center;
}

div.shop p.link{
text-align: right;
}

div.shop p.img{
text-align: center;
}

div#eow_eiwa{
background-color: #EEEEFF;
margin:15px 5px 15px 10px;
padding:10px;
text-align: left;
}

div#eow_eiwa p a img{
vertical-align: middle;
}

div#eow_waei{
background-color: #EEEEFF;
margin:15px 10px 15px 5px;
padding:10px;
text-align: left;
}

div#eow_waei p a img{
vertical-align: middle;
}

div.shop strong.title{
font-size: 14px;
font-weight: bold;
}

div.shop img{
margin:0 0 10px 0;
border :none;
}