html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

ul, ol {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
}

table {
	width:100%;
	border-collapse:separate;
	border-spacing:0;
}

/* -----------------------------------------------------------------------

 outline

----------------------------------------------------------------------- */
body {
	font-family:Helvetica,Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic,“ヒラギノ角ゴ ProN W3″,“Hiragino Kaku Gothic ProN”, “メイリオ”,Meiryo, sans-serif;
	font-size:18px;
	color:#202122;
	line-height:1.8;
	text-align:justify;
	text-justify:inter-ideograph;
	-webkit-text-size-adjust:100%;
}

a {
	display:inline-block;
	color: #202122;
	text-decoration:none;
}
a:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
}

img{
	max-width:100%;
}

.contentIn {
	max-width:1200px;
	margin:0 auto;
}
.contentIn:after {
	content:"";
	display:block;
	clear:both;
}

.contentInfaq {
	max-width:1200px;
	margin:0 auto;
}
.contentInfaq:after {
	content:"";
	display:block;
	clear:both;
}

.title img {
	display:block;
	margin:0 auto;
}

.imgArea img {
	display:block;
}

.btnStyle01{
	display:block;
	width:600px;
	height:60px;
	padding:12px 16px;
	border-radius:6px;
	background:#932026;
	font-size:20px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
}

.btnStyle01:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
}

.btnStyle02{
	display:block;
	width:730px;
	height:60px;
	padding:12px 16px;
	border-radius:6px;
	background:#932026;
	font-size:20px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
}

.btnStyle02:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
}

#gototop {
	position:fixed;
	bottom:10px;
	right:40px;
	z-index:9999;
}

.pc {
display:block;
}

.sp {
display:none;
}


@media screen and (max-width:767px) {
body {
	min-width:320px;
	font-size:14px;
}

.contentIn {
	max-width:inherit;
	padding:0 15px;
}

.contentInfaq {
	max-width:inherit;
	padding:0 15px;
}

.btnStyle01{
	display:block;
	width:98%;
	height:auto;
	padding:3% 5%;
	border-radius:6px;
	background:#932026;
	font-size:4.266vw;
	font-weight:bold;
	color:#ffffff;
	line-height:150%;
	text-align:center;
	margin:0 auto;
}

.btnStyle01:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
}

.btnStyle02{
	display:block;
	width:98%;
	height:auto;
	padding:3% 5%;
	border-radius:6px;
	background:#932026;
	font-size:4.266vw;
	font-weight:bold;
	color:#ffffff;
	line-height:150%;
	text-align:center;
	margin:0 auto;
}

.btnStyle02:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
}

#gototop {
	width:15%;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:9999;
}

.pc {
display:none;
}

.sp {
display:block;
}
}

/* -----------------------------------------------------------------------

 header

----------------------------------------------------------------------- */
#header {
	background:url(../img/bg_main01.jpg) no-repeat center center;
	background-size:cover;
}
#header > .contentIn {
	max-width:1200px;
	background:rgba(0,0,0,0.82);
}
#header .logo {
	float:left;
	padding:3px 0;
}
#header .logo a {
	padding:10px 30px 10px;
	background:#fff;
}
#header .logo img {
	display:block;
}
#header .txt {
	padding:25px 120px 0;
	font-size:22px;
	color:#ffffff;
}
#header .txt span {
	font-size:30px;
	color:#db4538;
}
#header .lNavi {
	display:table-cell;
	padding-right:5%;
	vertical-align:middle;
	text-align:right;
}
#header .lNavi a {
	color:#fff;
	text-decoration:underline;
}
#header .lNavi a:hover {
	text-decoration:none;
}

#mainTitle {
	background:rgba(0,0,0,0.8);
}
#mainTitle > .contentIn {
	max-width:1200px;
}

#mainImg {
	padding:25px 0 50px;
	background:rgba(0,0,0,0.32);
}
#mainImg .title {
	width:65%;
	float:left;
	margin:30px 0 10px;
}
#mainImg .lead {
	width:65%;
	float:left;
	margin:30px 0 0 0;
	font-size:20px;
	font-weight:bold;
	color:#ffffff;
	line-height:30px;
}
#mainImg h1 img {
	margin:0;
}
#mainImg .image {
	width:35%;
	float:right;
	margin:-270px 0 -130px 0;
    z-index:1;
}
#mainImg > .contentIn {
	max-width:1200px;
}
#mainImg p {
	margin:0 10%;
}
#mainImg img {
	display:block;
	margin:0 auto;
}
#mainImg .imgArea {
	padding:60px 0 115px;
	letter-spacing:-0.4em;
	text-align:center;
}
#mainImg .imgArea li {
	display:inline-block;
	width:17.6%;
	margin-left:8%;
	letter-spacing:normal;
}
#mainImg .imgArea li:first-child {
	margin-left:0;
}

#mainAppdl {
	background:#932027;
}
#mainAppdl > .contentIn {
	max-width:1200px;
}
#mainAppdl p {
	width:41%;
	float:left;
	padding:25px 0 0 0;
	font-size:21px;
	font-weight:bold;
	color:#ffffff;
}
#mainAppdl img {
	display:block;
	margin:0 auto;
}
#mainAppdl .imgArea {
	padding:20px 0;
	letter-spacing:-0.4em;
}
#mainAppdl .imgArea li {
	display:inline-block;
	margin:0 10px;
}
#mainAppdl .imgArea li:first-child {
	margin-left:0;
}


@media screen and (max-width:767px) {
#header {
	background:url(../img/bg_main01.jpg) no-repeat center center;
	background-size:cover;
}
#header > .contentIn {
	max-width:100%;
	background:rgba(0,0,0,0.82);
}
#header .logo {
	width:12%;
	float:left;
	padding:1% 3% 1% 0;
	margin:0 0 0 -3.5%;
}
#header .logo img {
	display:block;
}
#header .txt {
	padding:1.2% 0 0;
	font-size:3.733vw;
	color:#ffffff;
}
#header .txt span {
	font-size:4.8vw;
	color:#db4538;
	font-weight:bold;
}
#header .lNavi {
	display:table-cell;
	padding-right:5%;
	vertical-align:middle;
	text-align:right;
}
#header .lNavi a {
	color:#fff;
	text-decoration:underline;
}
#header .lNavi a:hover {
	text-decoration:none;
}

#mainTitle {
	background:rgba(0,0,0,0.8);
}
#mainTitle > .contentIn {
	max-width:100%;
}

#mainImg {
	padding:5% 0;
	background:rgba(0,0,0,0.32);
}
#mainImg .title {
	width:65%;
	float:left;
	margin:0;
}
#mainImg .lead {
	width:65%;
	float:left;
	margin:5% 0 0 0;
	font-size:3.733vw;
	color:#ffffff;
	font-weight:normal;
	line-height:140%;
}
#mainImg h1 img {
	margin:0;
}
#mainImg .image {
	width:30%;
	float:right;
	margin:-15% 0.2% 0;
    z-index:1;
}
#mainImg > .contentIn {
	max-width:100%;
}
#mainImg p {
	margin:0 10%;
}
#mainImg img {
	display:block;
	margin:0 auto;
}
#mainImg .imgArea {
	padding:60px 0 115px;
	letter-spacing:-0.4em;
	text-align:center;
}
#mainImg .imgArea li {
	display:inline-block;
	width:17.6%;
	margin-left:8%;
	letter-spacing:normal;
}
#mainImg .imgArea li:first-child {
	margin-left:0;
}

#mainAppdl {
	background:#932027;
}
#mainAppdl > .contentIn {
	max-width:100%;
}
#mainAppdl p {
	width:100%;
	padding:2% 0 0 0;
	font-size:4.266vw;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
}
#mainAppdl img {
	display:block;
	margin:0 auto;
}
#mainAppdl .imgArea {
	padding:2% 0 1% 0;
	text-align:center;
}
#mainAppdl .imgArea li {
	display:inline-block;
	width:25%;
	margin:0 2%;
}
#mainAppdl .imgArea li:first-child {
	margin-left:0;
}
}

/* -----------------------------------------------------------------------

/* footer

----------------------------------------------------------------------- */
#footer {
	color:#ffffff;
	background:#4b4b4b;
}
#footer a {
	color:#ffffff;
}
#footer .contentIn {
	max-width:1200px;
}

.ulStyle01 {
	padding:35px 0;
	font-size:17px;
	line-height: 1.4;
}
.ulStyle01 li {
	margin-bottom:5px;
	position:relative;
	padding-left:1.2em;
}
.ulStyle01 li:before {
	position:absolute;
	top:0;
	left:0;
	content:"※";
}

#footer .lNavi {
	font-size:19px;
	text-align:center;
	letter-spacing:-0.4em;
}
#footer .lNavi li {
	position:relative;
	display:inline-block;
	letter-spacing:normal;
	padding:0 0.5em 0 1.5em;
	line-height: 1.4;
}
#footer .lNavi li:before {
	position:absolute;
	top:0;
	left:0;
	content:"｜";
}
#footer .lNavi li:first-child {
	padding-left:0;
}
#footer .lNavi li:first-child:before {
	display:none;
}

#copyright {
	display:block;
	padding:90px 0 25px;
	font-size:17px;
	text-align:center;
	line-height: 1.2;
}


@media screen and (max-width:767px) {
#footer {
	color:#ffffff;
	background:#4b4b4b;
}
#footer a {
	color:#ffffff;
}
#footer .contentIn {
	max-width:100%;
}

.ulStyle01 {
	padding:4% 0;
	font-size:3.2vw;
	line-height:150%;
}
.ulStyle01 li {
	margin-bottom:5px;
	position:relative;
	padding-left:1.2em;
}
.ulStyle01 li:before {
	position:absolute;
	top:0;
	left:0;
	content:"※";
}

#footer .lNavi {
	font-size:3.2vw;
	text-align:center;
}
#footer .lNavi li {
	position:relative;
	display:inline-block;
	letter-spacing:normal;
	padding:0 0.5em 0 1.5em;
	line-height: 1.4;
}
#footer .lNavi li:before {
	position:absolute;
	top:0;
	left:0;
	content:"｜";
}
#footer .lNavi li:first-child {
	padding-left:0;
}
#footer .lNavi li:first-child:before {
	display:none;
}

#copyright {
	display:block;
	padding:4%;
	font-size:3.2vw;
	text-align:center;
	line-height:150%;
}
}

/* -----------------------------------------------------------------------

 eow

----------------------------------------------------------------------- */
section#eow {
	background:-webkit-gradient(linear, left top, right bottom, from(#e5c6cc), to(#e7e7c1));
	background:-webkit-linear-gradient(left top, #e5c6cc, #e7e7c1);
	background:-moz-linear-gradient(left top, #e5c6cc, #e7e7c1);
	background:-o-linear-gradient(left top, #e5c6cc, #e7e7c1);
	background:linear-gradient(to right bottom, #e5c6cc, #e7e7c1);
}
section#eow a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	color:#0199cb;
}
section#eow .midashi {
	margin:-30px 0 0 100px;
	z-index:1;
}
section#eow .bgColor {
	background:#f9f9f9;
}
section#eow h2 {
	padding:40px 0;
	text-align:center;
	margin:0;
}
section#eow .contentIn01 {
	background:url(../img/bg_eow01.png) no-repeat;
	background-size:100% auto;
	border-top:solid 15px #d3a3ab;
}
section#eow .contentIn01 .textArea {
	width:65%;
	padding:8% 0 4% 10%;
	margin:0 0 0 30%;
}
section#eow .contentIn01 .textArea p {
	font-size:15px;
	line-height:24px;
}
section#eow .contentIn01 .textArea span {
	font-size:18px;
	vertical-align:-2px;
}
section#eow .contentIn01 .textArea p.txt01 {
	width:65%;
	margin:16% 0 0 17%;
	font-size:13px;
	line-height:23px;
}
section#eow .contentIn02 {
	background:url(../img/bg_eow02.png) no-repeat;
	background-size:100% auto;
}
section#eow .contentIn02 .textArea {
	width:60%;
	padding:14% 0 0 12%;
	margin:0 0 0 30%;
}
section#eow .contentIn02 .textArea p {
	font-size:15px;
	line-height:24px;
}
section#eow .contentIn02 .textArea p.txt02 {
	width:100%;
	padding:0 0 37% 0;
	font-size:13px;
	line-height:23px;
}
section#eow .contentIn03 {
	background:url(../img/bg_eow03.png) no-repeat;
	background-size:100% auto;
}
section#eow .contentIn03 .textArea {
	width:45%;
	padding:14% 0 22.5% 10%;
	margin:0 0 0 6%;
}
section#eow .contentIn03 .textArea p {
	font-size:15px;
	line-height:24px;
}
section#eow .contentIn03 .textArea p.txt03 {
	width:60%;
	margin:16% 0 0 25%;
	font-size:13px;
	line-height:23px;
}
section#eow .contentIn04 {
	background:url(../img/bg_eow04.png) no-repeat;
	background-size:100% auto;
}
section#eow .contentIn04 .textArea {
	width:60%;
	padding:18% 0 7% 25%;
	margin:0 0 0 30%;
}
section#eow .contentIn04 .textArea p {
	font-size:15px;
	line-height:24px;
}
section#eow .contentIn04 .textArea p.txt04 {
	width:100%;
	margin:4% 0 0 0;
	font-size:13px;
	line-height:23px;
}
section#eow .bgColor_In01,
section#eow .bgColor_In02,
section#eow .bgColor_In03 {
	max-width:1200px;
	padding-bottom:15px;
	margin:0 auto;
}
section#eow .bgColor_In04 {
	max-width:1200px;
	margin:0 auto;
}
section#eow .bg01,
section#eow .bg02,
section#eow .bg03,
section#eow .bg04 {
	background:#f9f9f9;
}
section#eow .bg01 p.image,
section#eow .bg02 p.image,
section#eow .bg03 p.image,
section#eow .bg04 p.image {
	margin: 25px 0 -10px;	
}
section#eow .bg03 p.image {
	margin-top: 10px;	
}
section#eow .bg03 .textArea {
	margin-top: 40px;	
}
section#eow .commentArea p.image {
	float:left;
	width:44.5%;
}
section#eow .commentArea .textArea {
	width: 55.5%;
	float: right;
}
section#eow .commentArea .textArea p.imgTxt01,
section#eow .commentArea .textArea p.imgTxt02,
section#eow .commentArea .textArea p.imgTxt03 {
	border-radius:11px;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	padding:14px 43px;
	position:relative;
	margin-bottom: 35px;
	margin-top: 40px;	
}
section#eow .bgArea {
	background:url(../img/bg01.jpg)no-repeat center center;
	background-size:cover;
	padding: 25px 0;
}
section#eow .bgArea .contentIn {
	width: 100%;
	display:table;
	background:rgba(255,255,255,0.7);
	padding:130px 0 125px;
	margin: 0 auto;
	max-width:1200px;
}
section#eow .bgArea .contentIn p.image {
	display:table-cell;
	margin-left: 10px;
	vertical-align:middle;
	width:53.2%;
	padding:0 7.4% 0 2.3%;
}
section#eow .bgArea .contentIn .textArea {
	display:table-cell;
	vertical-align:middle;
	padding-right: 65px;
	margin-top: 15px;
}
sectionsection#eowp .bgArea .bgSp {
	display:none;
}
section#eow .proArea {
	margin-bottom: 25px;
}
section#eow .proArea .contentIn {
	max-width: 1050px;
}
section#eow .proArea h4 {
	margin:70px 0 50px
}
section#eow .proArea p.txt {
	padding:0 65px;
	line-height:1.6;
	font-size:19px;
	margin-bottom: 15px;
}
section#eow .proArea p.required {
	font-size:13px;
	color:#1f89e3;
	margin:0 0 20px 65px;
}


@media screen and (max-width:767px) {
section#eow {
	background:-webkit-gradient(linear, left top, right bottom, from(#e5c6cc), to(#e7e7c1));
	background:-webkit-linear-gradient(left top, #e5c6cc, #e7e7c1);
	background:-moz-linear-gradient(left top, #e5c6cc, #e7e7c1);
	background:-o-linear-gradient(left top, #e5c6cc, #e7e7c1);
	background:linear-gradient(to right bottom, #e5c6cc, #e7e7c1);
}
section#eow a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	color:#0199cb;
}
section#eow .midashi {
	width:80%;
	margin:-5.5% 0 0 6%;
	z-index:1;
}
section#eow .bgColor {
	background:#f9f9f9;
}
section#eow h2 {
	padding:6% 10% 4%;
	text-align:center;
	border-bottom:solid 10px #f7eef0;
}
section#eow .contentIn01 {
	background:url(../img/bg_eow01_sp.png) no-repeat;
	background-size:100% auto;
	border-top:solid 10px #d3a3ab;
}
section#eow .contentIn01 .textArea {
	width:68%;
	padding:8% 0 7%;
	margin:0 0 0 28%;
}
section#eow .contentIn01 .textArea p {
	font-size:3.2vw;
	line-height:150%;
}
section#eow .contentIn01 .textArea span {
	font-size:3.733vw;
	vertical-align:-1%;
}
section#eow .contentIn01 .textArea p.txt01 {
	width:98%;
	margin:24% 0 0 -4%;
	font-size:3.2vw;
	line-height:150%;
}
section#eow .contentIn02 {
	background:url(../img/bg_eow02_sp.png) no-repeat;
	background-size:100% auto;
}
section#eow .contentIn02 .textArea {
	width:66%;
	padding:18% 0 0 21%;
	margin:0 0 0 30%;
}
section#eow .contentIn02 .textArea p {
	font-size:3.2vw;
	line-height:150%;
}
section#eow .contentIn02 .textArea p.txt02 {
	width:140%;
	padding:0 0 11% 0;
	margin:5% 0 0 -40%;
	font-size:3.2vw;
	line-height:150%;
}
section#eow .contentIn03 {
	background:url(../img/bg_eow03_sp.png) no-repeat;
	background-size:100% auto;
}
section#eow .contentIn03 .textArea {
	width:40%;
	padding:19% 0 7%;
	margin:0 0 0 4%;
}
section#eow .contentIn03 .textArea p {
	font-size:3.2vw;
	line-height:150%;
}
section#eow .contentIn03 .textArea p.txt03 {
	width:60%;
	margin:16% 0 0 25%;
	font-size:3.2vw;
	line-height:150%;
}
section#eow .contentIn04 {
	background:url(../img/bg_eow04_sp.png) no-repeat;
	background-size:100% auto;
}
section#eow .contentIn04 .textArea {
	width:92%;
	padding:16% 0 40% 0;
	margin:0 0 0 4%;
}
section#eow .contentIn04 .textArea p {
	font-size:3.2vw;
	line-height:150%;
}
section#eow .contentIn04 .textArea p.txt04 {
	width:100%;
	margin:0;
	font-size:3.2vw;
	line-height:150%;
}
section#eow .bgColor_In01,
section#eow .bgColor_In02,
section#eow .bgColor_In03 {
	max-width:100%;
	padding-bottom:2%;
	margin:0 auto;
}
section#eow .bgColor_In04 {
	max-width:100%;
	margin:0 auto;
}
section#eow .bg01,
section#eow .bg02,
section#eow .bg03,
section#eow .bg04 {
	background:#f9f9f9;
}
section#eow .bg01 p.image,
section#eow .bg02 p.image,
section#eow .bg03 p.image,
section#eow .bg04 p.image {
	margin: 25px 0 -10px;
}
section#eow .bg03 p.image {
	margin-top: 10px;
}
section#eow .bg03 .textArea {
	margin-top: 40px;
}
section#eow .bgArea {
	background:url(../img/bg01.jpg)no-repeat center center;
	background-size:cover;
	padding: 25px 0;
}
section#eow .bgArea .contentIn {
	width: 100%;
	display:table;
	background:rgba(255,255,255,0.7);
	padding:130px 0 125px;
	margin: 0 auto;
	max-width:1200px;
}
section#eow .bgArea .contentIn p.image {
	display:table-cell;
	margin-left: 10px;
	vertical-align:middle;
	width:53.2%;
	padding:0 7.4% 0 2.3%;
}
section#eow .bgArea .contentIn .textArea {
	display:table-cell;
	vertical-align:middle;
	padding-right: 65px;
	margin-top: 15px;
}
sectionsection#eowp .bgArea .bgSp {
	display:none;
}
}

/* -----------------------------------------------------------------------

 subAppdl

----------------------------------------------------------------------- */
section#subAppdl {
	background:#932027;
}
section#subAppdl > .contentIn {
	max-width:1200px;
}
section#subAppdl p {
	padding:25px 0 0 0;
	font-size:21px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
}
section#subAppdl p span {
	font-weight:normal;
}
section#subAppdl img {
	display:block;
	margin:0 auto;
}
section#subAppdl .imgArea {
	padding:20px 0;
	letter-spacing:-0.4em;
	text-align:center;
}
section#subAppdl .imgArea li {
	display:inline-block;
	margin:0 10px;
}
section#subAppdl .imgArea li:first-child {
	margin-left:0;
}


@media screen and (max-width:767px) {
section#subAppdl {
	background:#932027;
}
section#subAppdl > .contentIn {
	max-width:100%;
}
section#subAppdl p {
	width:100%;
	padding:2% 0 0 0;
	font-size:4.266vw;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
}
section#subAppdl p span {
	font-weight:normal;
}
section#subAppdl img {
	display:block;
	margin:0 auto;
}
section#subAppdl .imgArea {
	padding:2% 0 1% 0;
	text-align:center;
}
section#subAppdl .imgArea li {
	display:inline-block;
	width:25%;
	margin:0 2%;
}
section#subAppdl .imgArea li:first-child {
	margin-left:0;
}
}

/* -----------------------------------------------------------------------

 eowp

----------------------------------------------------------------------- */
section#eowp {
	background:url(../img/bg01.jpg)no-repeat center center;
	background-size:cover;
	padding:0;
}
section#eowp .hikaku a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	box-sizing:border-box;
	color:#0199cb;
}
section#eowp .contentIn {
	padding: 0 10%;
}
section#eowp .contentInfaq {
	padding: 0 10%;
}
section#eowp .left {
	width:70%;
	height:auto;
	float:left;
	padding:40px 40px 0 70px;
}
section#eowp .right {
	width:30%;
	height:auto;
	float:right;
	padding:40px 70px 0 20px;
}
section#eowp .textArea {
	clear:both;
	padding:20px 70px;
}
section#eowp .left p.txt {
	padding:20px 0;
}
section#eowp .textArea p.txt {
	font-size:15px;
	line-height:24px;
}
section#eowp h2 {
	padding:0;
}
section#eowp .faq-box {
	width:100%;
	height:340px;
	padding:20px 70px;
}
section#eowp .faq-box .left {
	width:49%;
	height:260px;
	background:#ffffff;
	border-radius:14px;
	float:left;
	padding:10px;
	margin:0 5px 0 0;
}
section#eowp .faq-box .right {
	width:49%;
	height:260px;
	background:#ffffff;
	border-radius:14px;
	float:right;
	padding:10px;
	margin:0 0 0 5px;
}
section#eowp .faq-box p.title {
	background:url(../img/q.png)no-repeat left top;
	padding:10px 0 10px 80px;
	font-size:20px;
	font-weight:bold;
	color:#0199cb;
}
section#eowp .faq-box p.txt {
	padding:0 20px 0 80px;
	font-size:15px;
	line-height:24px;
}
section#eowp .faq-box .btn {
	clear:both;
	float:right;
	padding:25px 0 0 0;
}
section#eowp h2.faq {
	padding:10px 70px;
	background: #0199cb;
}
section#eowp h2.faq span {
	font-size:30px;
	font-weight:bold;
	color:#ffffff;
}
section#eowp .bgArea {
	padding:0 0 30px;
	background: url(../img/bg02.jpg) no-repeat top center;
	background-size: cover;
}

section#eowp .bgArea .contentIn {
	width: 100%;
	display:table;
	background:rgba(255,255,255,0.7);
	padding:0 0 30px;
	margin: 0 auto;
	max-width:1200px;
}
section#eowp .bgArea .contentInfaq {
	width: 100%;
	display:table;
	background:rgba(255,255,255,0.7);
	padding:0 0 30px;
	margin: 0 auto;
	max-width:1200px;
}
section#eowp ol {
	max-width: 1080px;
	padding-bottom: 49px;
	margin: auto;
}
section#eowp ol li {
	color: #fff;
	line-height: 1.4;
	font-size: 35px;
	font-weight: bold;
	padding: 19px 4% 16px 7%;
	background: #1f89e3;
	position: relative;
}
section#eowp li:before {
	position: absolute;
	top: 30px;
	left: 3.0%;
	content: "";
	width: 25px;
	height: 25px;
	background: #ffb100;
	border-radius: 50%;
}
section#eowp li + li {
	margin-top: 23px;
}
section#eowp .hikaku p {
	padding:20px 0 0 0;
	font-size:20px;
	font-weight:bold;
}
section#eowp table {
	border:solid 1px #cecdc9;
	font-size:14px;
	line-height:22px;
}
section#eowp table span {
	font-size:18px;
	font-weight:bold;
}
section#eowp table span.tax {
	font-size:11px;
	font-weight:normal;
}
section#eowp th {
	padding:6px;
	border-right:dotted 1px #cecdc9;
	background: #343434;
	color:#ffffff;
	text-align:center;
}
section#eowp th.last {
	border-right:none;
}
section#eowp tr {
	padding:6px;
	background: #ffffff;
}
section#eowp td{
	padding:6px 16px;
	border-right:dotted 1px #cecdc9;
	border-top:dotted 1px #cecdc9;
	vertical-align:middle;
}
section#eowp td.last {
	border-right:none;
}
section#eowp .eowp01 {
margin:60px 0 0 0;
}
section#eowp .eowp02 {
margin:-80px 0 0 -20px;
}


@media screen and (max-width:767px) {
section#eowp {
	background:none;
	padding:0;
}
section#eowp .hikaku a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	box-sizing:border-box;
	color:#0199cb;
}
section#eowp .left {
	width:96%;
	height:auto;
	background:rgba(255,255,255,0.8);
	padding:4% 2%;
	margin:0 2%;
}
section#eowp .right {
	width:96%;
	height:auto;
	background:rgba(255,255,255,0.8);
	padding:4% 2%;
	margin:0 2%;
}
section#eowp .textArea {
	width:96%;
	height:auto;
	background:rgba(255,255,255,0.8);
	padding:0 3% 4%;
	margin:0 2% 4%;
}
section#eowp .left p.txt {
	padding:2% 2% 4%;
	font-size:4.266vw;
	line-height:150%;
}
section#eowp .textArea p.txt {
	font-size:3.733vw;
	line-height:150%;
}
section#eowp h2 {
	padding:2% 2% 0;
}
section#eowp .faq-box {
	width:100%;
	height:auto;
	padding:2%;
	margin:0 auto;
}
section#eowp .faq-box .left {
	width:96%;
	height:auto;
	background:#ffffff;
	border-radius:14px;
	padding:4%;
	margin:2%;
}
section#eowp .faq-box .right {
	width:96%;
	height:auto;
	background:#ffffff;
	border-radius:14px;
	padding:4%;
	margin:2%;
}
section#eowp .faq-box p.title {
	background:url(../img/q.png)no-repeat left top;
	background-size:15%;
	padding:2% 4% 2% 22%;
	font-size:4.266vw;
	font-weight:bold;
	color:#0199cb;
}
section#eowp .faq-box p.txt {
	padding:2% 4% 0 22%;
	font-size:3.733vw;
	line-height:150%;
}
section#eowp .faq-box .btn {
	clear:both;
	float:right;
	padding:25px 0 0 0;
}
section#eowp h2.faq {
	padding:2% 4%;
	background: #0199cb;
}
section#eowp h2.faq span {
	font-size:5.333vw;
	font-weight:bold;
	color:#ffffff;
}
section#eowp .bgArea {
	padding:0 0 30px;
	background: url(../img/bg02.jpg) no-repeat top center;
	background-size: cover;
}
section#eowp .bgArea .contentIn {
	background:url(../img/bg01_sp.jpg)no-repeat center center;
	background-size:cover;
	padding:0;
}
section#eowp .bgArea .contentInfaq {
	width: 100%;
	display:table;
	background:#f8f7fa;
	padding:0 0 30px;
	margin: 0 auto;
	max-width:100%;
}
section#eowp ol {
	max-width: 1080px;
	padding-bottom: 49px;
	margin: auto;
}
section#eowp ol li {
	color: #fff;
	line-height: 1.4;
	font-size: 35px;
	font-weight: bold;
	padding: 19px 4% 16px 7%;
	background: #1f89e3;
	position: relative;
}
section#eowp li:before {
	position: absolute;
	top: 30px;
	left: 3.0%;
	content: "";
	width: 25px;
	height: 25px;
	background: #ffb100;
	border-radius:50%;
}
section#eowp li + li {
	margin-top: 23px;
}
section#eowp .hikaku {
	margin:4% 0 0;
}
section#eowp .hikaku p {
	padding:4% 0 0 0;
	font-size:3.733vw;
	font-weight:bold;
	line-height:150%;
}
section#eowp table {
	width:100%;
	border:solid 1px #cecdc9;
	font-size:3.2vw;
	line-height:150%;
}
section#eowp table span {
	font-size:3.733vw;
	font-weight:bold;
}
section#eowp table span.tax {
	font-size:2.4vw;
}
section#eowp th {
	padding:6px;
	border-right:dotted 1px #cecdc9;
	background: #343434;
	color:#ffffff;
	text-align:center;
}
section#eowp th.last {
	border-right:none;
}
section#eowp tr {
	padding:6px;
	background: #ffffff;
}
section#eowp td{
	padding:6px;
	border-right:dotted 1px #cecdc9;
	border-top:dotted 1px #cecdc9;
	vertical-align:middle;
}
section#eowp td.last {
	border-right:none;
}
section#eowp .eowp01 {
margin:60px 0 0 0;
}
section#eowp .eowp02 {
margin:-80px 0 0 -20px;
}
}
