@charset "UTF-8";

/* ▼ layout ▼
---------------------------------------------------- */
/* added 081126 */
* {
	margin: 0;
	padding: 0;
}


/* added 081126 / modified 100405 */
body {
	background-color: #FFFFFF;
	width: 100%;
	color: #222;
	font-size: 150%;
	font-family: "arial","メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}

/* ブロック格納用ボディ：added 081126 /modified: 100405 */
#AreaBody {
	margin: 0 auto;
	padding:10px 0;
	width: 100%;
	background-color: #FFFFFF;
}

 
/* ヘッダ：左：added 100405 */
#AreaHeaderLeft {
	float: none;
	width: 150px;
	margin-right: -150px;
	position: relative;
	z-index: 2;
}

/* table */
.clear {
	clear: both;
}

div.pc{
	float: none;
	width: 100%;
}
div.sp{
	float: none;
	width: 100%;
	margin-top: 3em;
}
div.pro{
	float: none;
	width: 100%;
	margin-top: 3em;
}
div.spelling{
	float: none;
	width: 100%;
	margin-top: 3em;
}

div.jump{
	width: 100%;
	margin: 3em auto;
}

p.category{
	color: #980004;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.ranking_title{
	text-align: center;
}

.ranking_title p{
	margin: 20px auto 30px auto;
	font-size: 2em;
	font-weight: bold;
	color: #1C40AA;
	background-color: #bdcbf4;
	border: 2px dotted #1C40AA;
}

table.ranking {
	border: solid 1px #999;
}

table.ranking tbody{
	font-weight: bold;
	font-size: 2em;
}

table.ranking tr.table_header{
	background-color: #B3CFDE;
	color: #333;
}

table.ranking tr.table_header th{
	border-bottom: 1px solid #999;
}

table.ranking tr.colored{
	background-color: #f2f2f2;
}

table.ranking th,td{
	padding: 0.3em 0.5em;
}

table.ranking td.num{
	padding: 0.3em 0;
	font-size: 110%;
}

table.ranking th.num,td.num,th.ej,td.ej,th.spelling_num,td.spelling_num{
	border-right: 1px solid #999;
}

table.ranking th.num,td.num{
	text-align: center;
	width: 10%;
}
table.ranking th.ej,td.ej{
	width: 40%;
}
table.ranking th.je,td.je{
	width: 40%;
}

table.ranking th.spelling_num,td.spelling_num{
	text-align: center;
	width: 14%;
}
table.ranking th.spelling_words,td.spelling_words{
	width: 86%;
}


/* フッタ：added 100405 */
#AreaFooter {
	width: 100%;
	clear: both;
	padding-top: 10px;
}

#AreaFooter a,
#gnav950 a {
	color: #004098;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	font-size: 80%;
}

#AreaFooter a:hover,
#gnav950 a:hover {
	color: #004098;
	text-decoration: none;
}

#main a {
color: #00008b;
text-decoration: none;
font-weight: 700;
}

/* ▼ navigation ▼
---------------------------------------------------- */
#gnav950 {
	width: 100%;
	margin-bottom: 0px;
}

#gnav950 #gnav_main {
	float: left;
	width: 90%;
	border: solid 1px #7f9fcb;
}

#gnav950 #gnav_main .inner {
	border: solid 1px #fff;
	background: #fff url(./img/gnav_bg.jpg) repeat-x left top;
}

#gnav950 ul {
	list-style: none;
}

#gnav950 #gnav_main li {
	float: left;
	width: 108px;
	margin: 2px 0;
	padding: 3px 0;
	text-align: center;
	background: url(./img/gnav_sparator.gif) repeat-y right center;
}

#gnav950 #gnav_main li.w110 {
	width: 110px;
}

#gnav950 #gnav_main .no_separator {
	background: none;
	border: none;
	width: 105px;
}

#gnav950 #gnav_sub {
	float: right;
	width: 72px;
}

#gnav950 #gnav_sub li {
	padding: 1px 0 1px 12px;
	font-size: 9px;
	background: url(./img/arrow_04.gif) no-repeat left center;
}



#pagetop {
	margin-bottom: 10px;
	text-align: right;
	float: right;
}

#footer {
	clear: both;
	border-top: solid 1px #666;
	text-align: center;
}

#footerInfo {
	text-align: center;
}

#footer1 {
	border-bottom: solid 1px #999;
	padding: 6px 0 4px 0;
}

#footer2 {
	padding: 4px 0;
}

#footer3 {
	border-bottom: solid 1px #666;
	padding: 4px 0;
}

#copyright {
	padding: 8px 0;
}

.ranking_summary{
	margin: 2em 0;
}

/* ▼ parts ▼
---------------------------------------------------- */
/* フロート制御：added 081126 / modified 100405 */
br.cl_l {
	clear: both;
}

/* 点線：added 081126 */
div.bg_i {
	padding-top: 5px;
}

/* 仕切り線：added 081127 */
.partition {
	width: 100%;
	height: 1px;
	border-top: 1px solid #CCCCCC;
	margin: 5px 0;
}

/* 検索補助：added 081126 */
div.sas {
	margin: 3px 0px 10px 0px;
}

/* マージン設定：：added 081126 */
.mt_05 {
	margin-top: 5px;
}

.mt_10 {
	margin-top: 10px;
}

.mt_20 {
	margin-top: 20px;
}

.mr_05 {
	margin-right: 5px;
}

.mr_10 {
	margin-right: 10px;
}

.mb_3 {
	margin-bottom: 3px;
}

.mb_10 {
	margin-bottom: 10px;
}

.ml_05 {
	margin-left: 5px;
}


/* その他：added 100405
------------------------------------*/
.left { 
	float: left; 
	display: inline;
}


/* ▼ results ▼
---------------------------------------------------- */

#resultArea a:link, 
#resultArea strong a:link {
	color: #000088;
	text-decoration: none;
}

#resultArea a:visited, 
#resultArea strong a:visited {
	color: #00008B;
	text-decoration: none;
}

#resultArea a:hover,
#resultArea strong a:hover{
	color: #0000FF;
	text-decoration: underline;
}

#resultArea a:active,
#resultArea strong a:active{
	color: #0000FF;
	text-decoration: underline;
}

/* 検索結果
---------------------------------------------------- */
#resultList ul{
	margin-left: 1.3em;
	padding-left: 0;
}

#resultList ol{
	margin-left: 2em;
	margin-bottom: 10px;
	padding-left: 0;
}

#resultList li div{
	margin-bottom: 5px;
}

#resultList td {
	line-height: 160%;
	padding-bottom: 10px;
	padding-left: 10px;
}

/* suggest
---------------------------------------------------- */

#suggest {
	position: absolute;
	background-color: #FFFFFF;
	border: 2px solid #AAAAAA;
	padding: 2px;
	font-size: 9pt;
	width: 400px;
}

#suggest div {
	display: block;
	width: 400px;
	overflow: hidden;
	white-space: nowrap;
}

#suggest div.over {
	background-color: #AACCFF;
}

#suggest div.select{
	color: #FFFFFF;
	background-color: #3366FF;
}

#suggestclose {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

/* icon page title
---------------------------------------------------- */
.iconPageTitle{
	padding: 5px;
	background-color: #E6E7EF;
	vertical-align: sub;
}

.iconPageTitleText{
	color: #483d8b;
	font-size: 13pt;
	font-weight: bold;
}

.iconPageTitleS{
	padding: 3px;
	background-color: #EDEFFF;
	border-bottom: 2px #9CA5ED solid;
	vertical-align: sub;
}

.iconPageTitleTextS{
	color: #483d8b;
}

/* 文字装飾
---------------------------------------------------- */

h2 {
	margin: 20px 0 10px 0;
	padding: 1px 0 1px 12px;
	background: url(./img/listmark.gif) 0 center no-repeat;
	font-size: 120%;
}

.lnavi {
	font-size: 9pt;
}

.midashi{
	color: #00008B;
	font-size: 120%;
	font-weight: bold;
}

.searchwordfont{
	color: #DC143C;
/*	font-size: 120%; */
	font-weight: bold;
}

.expmidashi{
	color: #DC143C;
	font-size: 120%;
	font-weight: bold;
}

.expwordfont{
	color: #DC143C;
/*	font-size: 120%; */
	font-weight: bold;
}

.smallfont{
	font-size: 90%;
}

.smallredfont{
	color: #DC143C;
	font-size: 80%;
}

.wordclass{
	color: #34429C;
}

.kana{
	color: #808080;
}

.hklabel{
	color: #008000;
}

.idmlabel{
	color: #008000;
}

/* ラベル（通常）：added 090728 */
.key{
	background-color:#DDDDDD;
	padding: 4px;
	font-family:monospace;
	border-bottom: 2px solid #888888;
	border-right: 2px solid #888888;
}

/* 全文表示：added 081126 */
span.vat {
	white-space: nowrap;
}

#searchWord {
	font-size: medium;
	color: #DC143C;
}


/* 検索文字列（変化形）：added 090401 */
.gradableWord {
	text-decoration:none;
	font-weight: bold;
}

/* ラベル（通常）：added 081126 */
span.ls_normal {
	font-family: Verdana, Sans-Serif;
	font-size: 9pt;
	color: #444444;
	background-color: #EEEEFF;
	border: solid #BBBBBB 1px;
	padding: 2px 2px 2px 2px;
	margin: 0px 5px 0px 5px;
	white-space: nowrap;
}

/* ラベル（注意）：added 081126 */
span.ls_alert {
	font-family: Verdana, Sans-Serif;
	font-size: 9pt;
	color: #444444;
	background-color: #FFCC66;
	border: solid #BBBBBB 1px;
	padding: 2px 2px 2px 2px;
	margin: 0px 5px 0px 5px;
	white-space: nowrap;
}

/* 発音記号：added 090630 */
span.pron {
	font-family: "Lucida Sans Unicode", "Times New Roman", Times, Serif;
	font-size: 12pt;
}
span.proni {
	font-style: Italic;
}

/* ▼ misc ▼
---------------------------------------------------- */
.alertmsg {
	margin: 0px 0px 5px 0px;
	padding:5px;
	border: 3px #DC143C dotted;
}

/*	clearfix
------------------------------------*/
.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
.clearfix {
	_height: 1px;
	min-height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

