@charset "Shift_JIS";

* {
margin: 0px;
padding: 0px;
}

body{
background:#fff;
color:#333;
margin-top:9px;
font-size:80%;
line-height:1.3em;
}

em{
color:#C52C2C;
font-weight:normal;
font-style:normal;
}

input,select{
margin-left:0px;
margin-right:3px;
font-size:100%;
}

input.hoge{width:49px;}

img{
border:none;
}

#container{
width:834px;
margin-left:auto;
margin-right:auto;
}

#navi,#cts,#pr{
vertical-align:top;
padding-bottom:15px;
}

#mainTbl1 #ctsArea{
width:834px;
}

#mainTbl2 #ctsArea{
width:642px;
}


#mainTbl3 #ctsArea{
width:460px;
}


a:link{
color:#006699;
text-decoration:underline;
}

a:visited{
color:#996699;
text-decoration:underline;
}

a:hover{
color:#C52C2C;
text-decoration:underline;
}

a:active{
color:#C52C2C;
text-decoration:underline;
}

a.arw{
line-height:1.2em;
padding-left/* */:13px;
padding-top:3px;
padding-bottom:3px;
background/* */:url(/s/cnt/img/arw-link_r.gif) no-repeat 0 5px;
}

p.arw2{
text-align:right;
margin-right/* */:15px;
}



.right{
text-align:right;
}

.s{
font-size:85%;
line-height:1.2em;
}

.new{
background:url(/s/cnt/img/item-new.gif) no-repeat right 50%;
padding-top:5px;
padding-bottom:5px;
padding-right:33px;
}

.tukyou{
background:url(/s/cnt/img/item-icon-red.gif) no-repeat 0 50%;
padding-left:25px;
padding-top:5px;
padding-bottom:5px;
}


.tanpin{
background:url(/s/cnt/img/item-icon-blue.gif) no-repeat 0 50%;
padding-left:25px;
padding-top:5px;
padding-bottom:5px;
}

.margin60{
margin-bottom:60px;
}


/* ■ #headTbl */
#headTbl{

MARGIN-BOTTOM: 3px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto;
}

#headTbl #headNavi{
font-size:85%;
line-height:1.2em;
text-align:right;
padding-right:10px;
}


/* ■ #searchBar */
#searchBar{
width:835px;
height:35px;
background:url(/s/cnt/img/search-bg.gif) no-repeat;
margin-left:auto;
margin-right:auto;
vertical-align:middle;
margin-bottom:2px;
}

#searchTbl{
vertical-align:middle;
color:#F9E9E9;
padding-top:6px;
_margin-top:6px;
line-height:1em;
}

*:first-child+html #searchTbl{
vertical-align:middle;
color:#F9E9E9;
margin-top:6px;
line-height:1em;
}

#searchTbl td#search{
padding-left:25px;
background:url(/s/cnt/img/search-icon-view.gif) no-repeat 8px -1px;
}

#searchTbl td#search a.arw{
padding-top:0;
padding-bottom:0;
margin-left:5px;
margin-right:5px;
color:#F9E9E9;
text-decoration:none;
background/* */:url(/s/cnt/img/search-arw-link_r.gif) no-repeat;
font-size:85%;
}

#searchTbl td#search a.arw:hover{
color:#FFFFFF;
}


#searchTbl td#searchMsg{
padding-right:10px;
text-align:right;
font-size:85%;
}

#searchTbl td input.searchTxt{
padding-top:1px;
padding-bottom:1px;
}

#searchTbl input{
cursor:auto;
margin:0 3px 0 0;
position:relative;
top:1px;
padding:0;
}


/* ■ #panTbl */

#panTbl{
font-size:85%;
line-height:1.2em;
margin-bottom:4px;
}

#panTbl #pan{
padding-left:5px;
}

#panTbl a:link,#panTbl a:visited{
color:#333333;
text-decoration:none;
}

#panTbl a:active,#panTbl a:hover{
color:#999;
}

#panTbl #cart{
text-align:center;
}

#panTbl #cart a{
padding-left:23px;
padding-top:3px;
padding-bottom:3px;
background/* */:url(/s/cnt/img/cart-icon.gif) no-repeat;
}

/* ■ #navi ■ #pr */
#navi,#pr{
background:url(/s/cnt/img/side-bg.gif) transparent;
}

#navi p,#pr p{
margin-right:5px;
margin-left:5px;
margin-bottom:10px;
}


/* ■ #navi */

#navi h2{
background:url(/s/cnt/img/navi-ttl-bg.gif) no-repeat #C52C2C;
text-align:center;
color:#F9E9E9;
font-weight:normal;
font-size:100%;
padding:6px 15px 4px 15px;
margin-bottom:5px;
line-height:1em;
}

#navi h2.first{
background:url(/s/cnt/img/navi-ttl-bg_t.gif) no-repeat #C52C2C;
}

#navi a.arw{
font-size:85%;
}


/* #naviBunya #naviMokuteki #navilevel */

#navi ul#naviBunya,#navi ul#naviMokuteki,#navi ul#navilevel{
margin:0px 5px 15px 5px;
line-height:1.2em;
list-style:none;
background:url(/s/cnt/img/navi-listline_bg.gif) repeat-y 5px;
font-size: 11px; 
line-height: 1.3; 
}


#navi ul#naviBunya li a.naviBunyattl{
display:block;
height:28px;
padding-left:35px;
padding-top:5px;
font-weight:bold;
color:#006699;
font-size: 15px; 
}

#navi ul#naviBunya li{
background:url(/s/cnt/img/navi-bunya-icon.gif) no-repeat;
}

#navi ul#naviMokuteki li a.naviMokutekittl{
padding-top:5px;
display:block;
height:28px;
padding-left:40px;
font-weight:bold;
color:#006699;
font-size: 15px; 
}

#navi ul#naviMokuteki li{
background:url(/s/cnt/img/navi-mokuteki-icon.gif) no-repeat;
}

#navi ul#naviBunya li a.navilevelttl{
display:block;
height:28px;
padding-left:35px;
padding-top:5px;
font-weight:bold;
color:#006699;
}


#navi ul#navilevel li{
background:url(/s/cnt/img/navi-level-icon.gif) no-repeat;
}

#navi ul#navilevel li a.navilevelttl{
padding-top:5px;
display:block;
height:28px;
padding-left:40px;
font-weight:bold;
color:#006699;
font-size: 15px; 
}

#navi ul#naviBunya li,#navi ul#naviMokuteki li,#navi ul#navilevel li{
list-style:none;
}

#navi ul#naviBunya ul li,#navi ul#naviMokuteki ul li,#navi ul#navilevel ul li{
list-style:none;
background:url(/s/cnt/img/navi-listline.gif) no-repeat 5px 3px;
margin-bottom:5px;
padding-left:18px;
}






#navi ul#naviBunya ul li.last,#navi ul#naviMokuteki ul li.last,#navi ul#navilevel ul li.last{

background:url(/s/cnt/img/navi-listline_u.gif) no-repeat 5px 2px;
}


/* .naviSelect */

#navi div#naviSelect{
margin-bottom:9px;
}

#navi #selectChart{
padding:11px 0px 0px 9px;
margin:0px;
background:url(/s/cnt/img/side-line.gif) repeat-x top;
font-size:120%;
}

/* .naviOther */

#navi ul.naviOther{
list-style:none;
line-height:1.2em;
margin-bottom:10px;
}

#navi ul.naviOther li{
list-style:none;
background:url(/s/cnt/img/navi-otherlist_icon.gif) no-repeat 0px 5px;
margin-left:12px;
padding-left:11px;
padding-bottom:5px;
}



/* #subnavi */

#navi #subnavi dl{
padding-bottom:5px;
}

#navi #subnavi #guide{
background:url(/s/cnt/img/navi-subnavi-guide-img.gif) no-repeat 5px 70%;
}

#navi #subnavi #mail{
background:url(/s/cnt/img/navi-subnavi-mail-img.gif) no-repeat 5px 50%;
}

#navi #subnavi #clubalc{
background:url(/s/cnt/img/navi-subnavi-clubalc-img.gif) no-repeat 5px 50%;
}

#navi #subnavi #affiliate{
background:url(/s/cnt/img/navi-subnavi-affiliate-img.gif) no-repeat 5px 50%;
}


#navi #subnavi #madigi{
background:url(/s/cnt/img/navi-subnavi-ma-img.gif) no-repeat 5px 50%;
padding-bottom:0px;
}


#navi #subnavi #ondema{
background:url(/s/cnt/img/navi-subnavi-ondema-img.gif) no-repeat 5px 50%;
padding-bottom:0px;
}


#navi #subnavi dl dt{
background:url(/s/cnt/img/side-line.gif) repeat-x top;
padding:8px 5px 5px 55px;
}

#navi #subnavi dd{
font-size:85%;
line-height:1.2em;
padding:0px 5px 5px 55px;
}

#navi #subnavi dd a{
color:#996633;
text-decoration:none;
}


/* .faq*/


/* .linkbanner */

#navi ul.linkbanner{
background:url(/s/cnt/img/side-line.gif) repeat-x;
list-style:none;
text-align:center;
padding-top:10px;
margin-bottom:10px;
}

#navi ul.linkbanner li{
list-style:none;
text-align:center;
margin-bottom:4px;
}
#navi ul.linkbanner li img{
border:solid #E4DCC7 5px;
}


/* #verisign */

#navi #verisign table{
margin-left:auto;
margin-right:auto;
}


#navi #verisign p{
margin-left:6px;
margin-right:6px;
font-size:85%;
line-height:1.2em;
color:#666;
}




/* ■ #pr */

#pr #itemFlash{
background:url(/s/cnt/img/pr-bg_t.gif) no-repeat top;
padding-top:15px;
margin-bottom:10px;
text-align:center;
}


#pr h2{
background:url(/s/cnt/img/pr-ttl-bg.gif) no-repeat;
text-align:center;
color:#F9E9E9;
font-weight:normal;
font-size:100%;
padding:6px 15px 4px 15px;
margin-bottom:5px;
line-height:1em;
}

#pr a.arw{
font-size:85%;
}

#pr h2.first{
background:url(/s/cnt/img/pr-ttl-bg_t.gif) no-repeat;
}

#pr ol{
list-style:none;
margin:10px 5px 10px 8px;
}

#pr ol li{
list-style:none;
padding:0px 0px 8px 79px;
line-height:1.2em;
font-size:85%;
}

/* .iminavi */

#pr ul.iminavi{
}

#pr ul.iminavi li{
background:url(/s/cnt/img/side-line.gif) repeat-x top;
list-style:none;
padding-top:2px;
}


#pr ul.iminavi li a{
text-decoration:none;
}

/* prTop5 */

#pr #prTop5 table{
margin-bottom:10px;
}

#pr #prTop5 table td{
font-size:85%;
padding:4px 0px 6px 0px;
background:url(/s/cnt/img/side-line.gif) repeat-x bottom;
}

#pr #prTop5 table td.rankBtm{
background:none;
padding:4px 0px 0px 0px;
}

#pr #prTop5 table td.title{
padding:4px 8px 6px 8px;
}

#pr #prTop5 table td.titleBtm{
background:none;
padding:4px 8px 0px 8px;
}

#pr #prTop5 p.rankData{
color:#666;
font-size:80%;
line-height:1.2em;
text-align:right;
}

/* .prlist */

#pr ol li.prList1{
background:url(/s/cnt/img/pr-listnum_1.gif) no-repeat;
}

#pr ol li.prList2{
background:url(/s/cnt/img/pr-listnum_2.gif) no-repeat;
}

#pr ol li.prList3{
background:url(/s/cnt/img/pr-listnum_3.gif) no-repeat;
}

#pr ol li.prList4{
background:url(/s/cnt/img/pr-listnum_4.gif) no-repeat;
}

#pr ol li.prList5{
background:url(/s/cnt/img/pr-listnum_5.gif) no-repeat;
}

/* #prNewbook */

#pr #prNewbook ul{
margin:10px 5px 10px 22px;
color:#D7C79F;
list-style-type:disc;
}

#pr #prNewbook ul li{
line-height:1.2em;
font-size:85%;
padding-bottom:8px;
}

#pr #prNewbook table td{
font-size:85%;
padding:4px 8px 6px 0px;
background:url(/s/cnt/img/side-line.gif) repeat-x bottom;
}

#pr #prNewbook table td.newTop{
padding:3px 8px 6px 0px;
}

#pr #prNewbook table td.newBook{
padding:3px 8px 6px 8px;
}

/* #prMonthbook */

#pr #prMonthbook ul{
margin:10px 5px 10px 22px;
color:#D7C79F;
list-style-type:disc;
}

#pr #prMonthbook ul li{
line-height:1.2em;
font-size:85%;
padding-bottom:8px;
}



/* #prCard */

#pr #prCard{
background:url(/s/cnt/img/side-line.gif) repeat-x top;
padding:10px 10px 0px 10px;
font-size:85%;
line-height:1.2em;
margin-bottom:15px;
}

#pr #prCard h3{
text-align:center;
margin-bottom:10px;
}

#pr #prCard dl{
margin-bottom:15px;
}

#pr #prCard dl dt a{
display:block;
height:28px;
padding:15px 0px 0px 75px;
color:#996633;
text-decoration:none;
vertical-align:middle;
margin-bottom:5px;
}

#pr #prCard dd{
color:#666;
}

#pr #prCard dl#jal dt{
background:url(/s/cnt/img/pr-card-jal.gif) no-repeat 0px 50%;
}


#pr #prCard dl#benesse dt{
background:url(/s/cnt/img/pr-card-benesse.gif) no-repeat 0px 50%;
}




/* #navi */

#navi #prCard{
background:url(/s/cnt/img/side-line.gif) repeat-x top;
padding:10px 10px 0px 10px;
font-size:85%;
line-height:1.2em;
margin-bottom:15px;
}

#navi #prCard h3{
text-align:center;
margin-bottom:10px;
}

#navi #prCard dl{
margin-bottom:15px;
}

#navi #prCard dl dt a{
display:block;
height:28px;
padding:15px 0px 0px 75px;
color:#996633;
text-decoration:none;
vertical-align:middle;
margin-bottom:5px;
}

#navi #prCard dd{
color:#666;
}

#navi #prCard dl#jal dt{
background:url(/s/cnt/img/pr-card-jal.gif) no-repeat 0px 50%;
}


#navi #prCard dl#benesse dt{
background:url(/s/cnt/img/pr-card-benesse.gif) no-repeat 0px 50%;
}






/* ■　#mainTbl */

#mainTbl1{
margin:0px auto 10px auto;
padding-bottom:10px;
}

#mainTbl2{
margin:0px auto 10px auto;
width:834px;
background:url(/s/cnt/img/maintbl-foot_2.gif) no-repeat left bottom transparent;
padding-bottom:10px;
}

#mainTbl3{
margin:0px auto 10px auto;
width:834px;
background:url(/s/cnt/img/maintbl-foot_3.gif) no-repeat left bottom transparent;
padding-bottom:10px;
}

/* ■　#footer */

#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px; TEXT-ALIGN: center;
}
#footer P {
	PADDING-BOTTOM: 5px; TEXT-ALIGN: center;
}
#footTbl {
	MARGIN: 10px auto 5px;
}


/* .pageTop */
div.pageTop{
text-align:right;
clear:both;
}


div.pageTop a:link, div.pageTop a:visited, div.pageTop a:hover, div.pageTop a:active{
color:#000;
text-decoration:none;
}

div.pageTop a{
font-size:85%;
line-height:1.2em;
padding-left:13px;
background/* */:url(/s/cnt/img/arw-pg_t.gif) no-repeat 1px 0;
}





/* ■ itemTbl */

#mainTbl3 div.itemTblArea{
width:460px;
}

div.itemTblArea h2{
margin-bottom:10px;
}

table.itemTbl{
margin-bottom:5px;
}


table.itemTbl td table{
margin-left:12px;
margin-top:10px;
margin-bottom:10px;
}

table.itemTbl td table td{
vertical-align:top;
}


table.itemTbl td.itemTdB,table.itemTbl td.itemTdR,table.itemTbl td.itemTd1,table.itemTbl td.itemTd2,table.itemTbl td.itemTd3,table.itemTbl td.itemTd4,table.itemTbl td.itemTdY{
border:solid 1px #ddd;
vertical-align:top;
}

table.itemTbl td.itemTdB table th,table.itemTbl td.itemTdR table th,table.itemTbl td.itemTd1 table th,table.itemTbl td.itemTd2 table th,table.itemTbl td.itemTd3 table th,table.itemTbl td.itemTd4 table th,table.itemTbl td.itemTdY table th{
text-align:left;
vertical-align:top;
}


table.itemTbl td.itemTdB{
background:url("/s/cnt/img/item-bg-blue.gif") repeat-y 0px 0px;
}

table.itemTbl td.itemTdR{
background:url("/s/cnt/img/item-bg-red.gif") repeat-y;
}

table.itemTbl td.itemTdY{
background:url("/s/cnt/img/item-bg-yellow.gif") repeat-y;
}

table.itemTbl td.itemTd1{
background:url("/s/cnt/img/item-bg-red.gif") repeat-y;
}

table.itemTbl td.itemTd2{
background:url("/s/cnt/img/item-bg-red.gif") repeat-y;
}

table.itemTbl td.itemTd3{
background:url("/s/cnt/img/item-bg-red.gif") repeat-y;
}

table.itemTbl td.itemTd4{
background:url("/s/cnt/img/item-bg-red.gif") repeat-y;
}

table.itemTbl td.itemTdB p.itemName a,table.itemTbl td.itemTdR p.itemName a,table.itemTbl td.itemTd1 p.itemName a,table.itemTbl td.itemTd2 p.itemName a,table.itemTbl td.itemTd3 p.itemName a,table.itemTbl td.itemTd4 p.itemName a,table.itemTbl td.itemTdY p.itemName a{
line-height:1.2em;
}

table.itemTbl dt{
padding-left:25px;
padding-bottom:5px;
padding-top:1px;
line-height:1.2em;
}


table.itemTbl td.itemTdR dt{
background:url("/s/cnt/img/item-icon-red.gif") no-repeat 0 0px;
}

table.itemTbl td.itemTdB dt{
background:url("/s/cnt/img/item-icon-blue.gif") no-repeat 0 0px;
}

table.itemTbl td.itemTdY dt{
background:url("/s/cnt/img/item-icon-yellow.gif") no-repeat 0 0px;
}

table.itemTbl td.itemTd1 dt{
background:url("/s/cnt/img/co-1.gif") no-repeat 0 0px;
}

table.itemTbl td.itemTd2 dt{
background:url("/s/cnt/img/co-2.gif") no-repeat 0 0px;
}

table.itemTbl td.itemTd3 dt{
background:url("/s/cnt/img/co-3.gif") no-repeat 0 0px;
}

table.itemTbl td.itemTd4 dt{
background:url("/s/cnt/img/co-4.gif") no-repeat 0 0px;
}

table.itemTbl dd{
font-size:85%;
line-height:1.2em;
}




/* ■ナビメニュー*/




#menu ul {
	width:170px;
	margin:0;
	padding:0;
	list-style-type:none;
font-size: 11px; 
}
 
#menu ul li {
	position:relative;
	margin:0;
	z-index:200;
}
 

 
#menu ul li ul {
	visibility:hidden;
	overflow:hidden;
	position:absolute;
	top:0;
	left:100px;
}
 

 
#menu ul li ul li a {
	font-size:80%;
}



#menu ul li:hover ul,
#menu ul li a:hover ul {
	visibility:visible;
	overflow:visible;
	height:auto;
	z-index:300;
	background:#ffffff;
	width:180px;
	border:1px solid #336699;
}



/**/
@import\**\"winie55.css";
_@import "winie55.css";
/**/