@charset "UTF-8";
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
a {
  color: #00008B;
  text-decoration: none;
}
a:hover {
  color: #999999;
  text-decoration: none;
}
.defs {
  display: none;
}
.icon {
  width: 28px;
  height: 28px;
  /*    stroke-width: 0;
  stroke: #999999; */
  fill: #999999;
  text-align: center;
}
.icon:hover {
  fill: #555555;
}
figure.menu {
  display: block;
  width: 55px;
  float: left;
  margin: 15px 0px 0px 0px;
}
.menu-text {
  font-size: 13px;
  /*margin-top:-5px;*/
  /*text-align:center;*/
  /*font-weight:600;*/
  color: #4D4D4D;
  margin-right: 30px;
  cursor: pointer;
}
.menu-text:hover {
  color: #A9A9A9;
}
.logo {
  display: inline-block;
  width: 98%;
  height: 85%;
  stroke-width: 0;
  text-align: center;/*   stroke: #999999;
  fill: #999999; */
}
.logo-lo_eow {
  display: inline-block;
  width: 100px;
  width: 100%;
  height: 48px;
  margin: 10px 0 0 0px;
  padding-left: 0px;
  stroke-width: 0;
  text-align: left;
}
/* 吹き出し */
.fukidashi {
  position: relative;
  height: 50px;
  z-index: auto;
}
.fukidashi .box {
  position: absolute;
  width: 330px; /* 吹き出しの幅 */
  height: 27px; /* 吹き出しの高さ */
  top: 45px; /* 画像と三角形の高さをプラスした値 */
  left: 0px;
  border-radius: 4px 4px 4px 4px;
  background-color: #FFFFFF;
  border: 1px solid #4D4D4D;
  display: none;
}
.fukidashi .box:after { /* 三角形を作成 */
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -23px;
  left: 8px;
  border: 10px solid transparent;
  border-bottom: 13px solid #4D4D4D;
}
.fukidashi .text {
  position: absolute;
  font-size: 95%;
  line-height: 120%;
  text-align: left;
  top: 6px;
  left: 8px;
  color: #4D4D4D;
}
.fukidashi:hover .box {
  z-index: 2;
  display: block;
}
/* Clear */
.clear {
  clear: both;
}
/* Head Container */
.header {
  background-color: #EDEDED;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}
.container.head {
  padding-bottom: 0px;
  text-align: left;
}
.headerlogo {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  text-align: left;
  margin-top: 15px;
}
.headerlogo img[src$=".svg"] {
  width: 100%;
  height: 52px;
  text-align: left;
  margin-left: -2px;
}
.header_menu {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 5px;
  width: 60%;
  padding-left: 0px;
  position: relative;
  height: 20px;
  font-weight: bold;
}
.header_menu ul {
  list-style: none outside none;
  position: relative;
  float: left;
}
.header_menu ul li {
  position: relative;
  float: left;
}
.header_login {
  display: inline-block;
  box-sizing: border-box;
  width: 16%;
  margin-top: 0px;
  float: right;
}
#log {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 0;
  position: absolute;
  left: 783px;
  height: 69px;
}
#log p {
  color: #4D4D4D;
  font-size: 90%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
  cursor: pointer;
}

#log p:hover {
  color: #A9A9A9;
}

#log p img {
  margin-left: 10px;
}
.dropdown {
  display: none;
  position: absolute;
  box-shadow: 0 2px 4px grey;
  margin-top: 3px;
}
.login {
  display: block !important;
  width: 108px;
  height: 23px;
  margin-right: 0;
  position: relative;
  background-color: #fff;
  padding: 5px 10px;
  z-index: 200;
  cursor: pointer;
}
.login a {
  display: inline-block;
  color: #4D4D4D;
  font-weight: bold;
  font-size: 89%;
  text-decoration: none;
}
.login:hover {
  background-color: #EDEDED;
}
/* Search */
.sfborder {
  border: 4px solid #D1D1D1;
  height: 46px;
  float: right;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #D1D1D1;
  width: 73%;
  margin-top: 18px;
}
.small_search_field {
  width: 110%;
  font-weight: 700;
  font-size: 1.8rem;
  
}
input::-webkit-input-placeholder {
 color:#aaaaaa;
 font-size: 1.7rem;
 font-weight: 500;
 line-height:2.4rem;
}
input:-ms-input-placeholder {
 color:#aaaaaa;
 font-size: 1.7rem;
 font-weight: 500;
 line-height:2.4rem;
}
input::-moz-placeholder {
 color:#aaaaaa;
 font-size: 1.7rem;
 font-weight: 500;
 line-height:2.4rem;
}
.reset_button {
  position: absolute;
}
.search {
  position: relative;
  padding-right: 70px;
}
.search_button {
  position: absolute;
  bottom: 1px;
  right: 3px;
  height: 36px;
  width: 90px;
  cursor: pointer;
}
.edp {
  display: block;
  font-size: 9px;
  font-weight: 500;
  color: #961E21;
  margin-top: -16px;
  margin-left: 235px;
}
.edp a {
  color: #961E21;
}
/* info */
.info {
  display: block;
  background: #ffffff;
  color: #4D4D4D;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 10px 25px 0 25px;
  border: 3px solid #C2C2C2;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 1.3rem;
  text-align: left;
}
.info.survice {
  padding: 10px 0 0 0;
  margin-top: 15px;
}
.info_title {
  color: #ffffff;
  background-color: #286ABE;
  width: 115px;
  height: 20px;
  font-weight: 600;
  margin: -10px -25px;
  text-align: center;
  padding: 8px 0;
}
.info h2 {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
}
.service {
  display: inline-block;
  width: 100%;
  height: 20px;
  margin: 0px 0px;
  text-align: center;
  padding-top: 6px;
}
.appli {
  text-align: center;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}
.eijirou_l {
  display: inline-block;
  vertical-align: bottom;
}
.eijirou_r {
  display: inline-block;
  padding: 0 0 20px 20px;
  line-height: 18px;
}
.appli ul {
  display: inline-block;
  list-style: none outside none;
  margin-bottom: 0px;
  position: relative;
  margin-top: 7px;
}
.appli ul li {
  display: inline-block;
  position: relative;
  height: 36px;
  margin: 0px 5px;
  line-height: 18px;
  text-align: left;
}
.applogo {
  height: 30px;
}
.applogo img[src$=".svg"] {
  width: auto;
  height: 30px;
}
.appli img {
  margin: 2px 0 0px 0;
}
img[src$=".svg"] {
  width: 100px;
  height: auto;
}
.application {
  background-color: #B9C3C9;
  color: #ffffff;
  display: block;
  box-sizing: border-box;
  height: 55px;
  border-right: solid 1px #ffffff;
  margin-bottom: 15px;
}
.application.jump {
  background-color: #7F8F98;
  position: relative;
}
.application.jump:hover {
  background-color: #B9C3C9;
}
.application div {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
}
.application.jump div {
  margin: 3px;
  border-radius: 4px;
  border: solid 1px #ffffff;
  box-sizing: border-box;
  height: 49px;
  width: calc(100% - 6px);
  padding: 15px 0 15px 10px;
}
.application div.merit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #B9C3C9;
  font-size: 8px;
  margin: 8px 10px 8px 8px;
  box-sizing: border-box;
  padding: 13px 0px 8px 0px;
  text-align: center;
  line-height: 1.0;
}
.application.jump:hover div.merit {
  color: #B9C3C9;
}
.application.jump div.merit {
  width: 20px;
  height: 20px;
  font-size: 8px;
  padding: 5px 0px 0px 1px;
  margin: 17px 10px 17px 8px;
  color: #7F8F98;
  position: absolute;
  top: 1%;
  left: 81%;
}
.application.jump a, .application.jump a:hover {
  color: #ffffff;
}
/* Button */
.button_info {
  display: block;
  padding: 10px 8px;
  background-color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #D1D1D1;
  font-weight: 700;
  margin-bottom: 6px;
  vertical-align: middle;
}
.button_info.fee {
  border-radius: 0px;
  height: 16px;
  font-size: 9px;
  border: solid 1px #7F8F98;
  border-right: none;
  background-color: #286ABE;
  color: #ffffff;
  padding: 5px 0 0 0;
}
.button_info.cl {
  display: inline-block;
  background-color: #961E21;
  border: 1px solid #961E21;
  width : 65%;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.button_info.cl:hover {
  background-color: #ffffff;
}
.button_info.cl:hover a {
  color: #961E21;
}
.button_info.cl.s {
  width: 10%;
  align: right;
}
.button_info.gr {
  display: inline-block;
  box-sizing: border-box;
  height: 37px;
  width: 40%;
  margin-top: 4px;
  background-color: #961E21;
  text-align: center;
  border: solid 1px #961E21;
}
.button_info.gr.right {
  margin-left: 4%;
}
.button_info.gr:hover {
  background-color: #ffffff;
}
.button_info.gr:hover a {
  color: #961E21;
}
.button_info a {
  color: #ffffff;
  text-decoration: none;
}
/*	AD space */
.ad_left {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: 0px 0px;
  position: relative;
  overflow: hidden;
}
.ad_wrap.b {
  width: 100%;
  height: auto;
  margin: 0px 0;
  clear: both;
}
.ad_wrap.b img {
  vertical-align: bottom;
}
.ad_left_wrap {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  height: 90px;
  margin: 0px 8px 0px 8px;
  padding: 0;
  vertical-align: bottom;
}
.five.columns.right {
  text-align: center;
}
.ad_wrap.s {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  height: 74px;
  margin-bottom: 16px;
}
.ad_wrap {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  height: 250px;
  margin-bottom: 16px;
}
.ad_wrap img {
  vertical-align: bottom;
}
.newsright {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  border: 1px solid #D1D1D1;
  padding: 8px 8px 8px 8px;
  margin-bottom: 16px;
  background-color: #ffffff;
}
.newsright img {
  display: block;
  box-sizing: border-box;
  float: left;
  max-width: 100px;
  margin-right: 10px;
}
.newsright p {
  text-align: justify;
  margin-bottom: 0;
}
/* topics */
.topics {
  margin: 5px 0 0 0;
  color: #cc0000;
}
.news {
  width: 300px;
  float: left;
}
.news img {
  float: left;
  width: 200px;
  height: 150px;
  margin: 5px 10px 20px 0;
}
.news p {
  text-align: justify;
}
/* index */
span.jpn_s {
  font-size: 0.9em;
}
span.paren {
  font-size: 0.6em;
  vertical-align: top;
  margin-left: -5px;
}
.index {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 16px 0 8px 0;
  padding: 0;
  float: left;
}
.index_title.sli h3 {
  display: block;
  box-sizing: border-box;
  height: 22px;
  margin-top: 30px;
  margin-bottom: 25px;
  border-left: 7px solid #C2C2C2;
  font-size: 18px;
  font-weight: 600;
  text-indent: 10px;
  color: #4D4D4D;
}
.index_title.sli.part_of_speech h3 {
  height: 33px;
  border-left: 7px solid #961E21;
  padding-top: 7px;
}
.index_title.sli h4 {
  display: block;
  box-sizing: border-box;
  height: 18px;
  font-size: 0.9em;
  font-weight: 600;
  color: #666666;
  margin: 0 20px;
}
.index_title.sli h4.green {
  color: #55aa03;
}
.index_title.sli h4.orange {
  color: #FC5B02;
}
.index.sli ul {
  display: block;
  overflow: hidden;
  font-size: 1em;
}
.index ul.wrap {
  display: block;
}
.index ul.f_con {
  display: block;
  margin-bottom: 5px;
}
.index ul.f_wrap {
  display: block;
  margin: 5px 0 30px 0;
  padding: 8px 50px 25px 20px;
  border-bottom: solid 1px #707070;
}
.index li.pos {
  display: block;
  height: 30px;
  float: left;
  width: 13.2857%;
  margin: 0 0.5% 2.5% 0.5%;
}
.index li.field_1, .index li.field_2, .index li.field_3, .index li.field_4, .index li.field_5, .index li.field_6, .index li.field_7, .index li.field_8, .index li.field_9 {
  display: block;
  height: 26px;
  float: left;
  width: 11.5%;
  margin: 2% 0.5% 7px 0.5%;
}
.index li.level {
  display: block;
  height: 30px;
  float: left;
  width: 15.6666%;
  margin: 1.5% 0.5% 7px 0.5%;
}
.index li a {
  display: block;
  height: 37px;
  background: #ffffff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  line-height: 2.5em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #666666;
}
.index li a:hover {
  background: #D1D1D1;
}
.index .part_of_speech li a:hover {
  background: #961E21;
  color: #ffffff;
}
.index li.field_1 a, .index li.field_2 a, .index li.field_3 a, .index li.field_4 a, .index li.field_5 a, .index li.field_6 a, .index li.field_7 a, .index li.field_8 a, .index li.field_9 a {
  display: block;
  height: 37px;
  overflow: hidden;
  font-size: 0.9em;
  line-height: 3em;
}
p.cond {
  transform: scale(0.8, 1);
  -moz-transform: scale(0.8, 1); /* Firefox※ */
  -webkit-transform: scale(0.8, 1); /* Chrome,Safari */
  -ms-transform: scale(0.8, 1); /* IE */
  transform-origin: 0 0;
  width: 122%;
}
.index li.field_4 a, .index li.field_5 a, .index li.field_6 a {
  border: 1px solid #86c24c;
}
.index li.field_7 a, .index li.field_8 a, .index li.field_9 a {
  border: 1px solid #fb8b4d;
  ;
}
.index li.alphabet {
  display: block;
  height: 30px;
  float: left;
  width: 6.1428%;
  margin: 1% 0.5% 7px 0.5%;
}
.index li.alphabet_last {
  display: block;
  height: 30px;
  float: left;
  width: 13.2856%;
  margin: 1% 0.5% 7px 0.5%;
}
.index li.aiueo {
  display: block;
  height: 30px;
  float: left;
  width: 9%;
  margin: 0 0.5% 7px 0.5%;
}
.adj {
  display: inline-block;
  width: 100%;
  margin-top: 8px;
}
.note {
  font-size: 11px;
  line-height: 11px;
  color: #000000;
  margin-top: 5px;
  letter-spacing: 0;
}
.footnote {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5em;
  color: #000000;
  margin: 20px 10px 12px 10px;
  text-align: justify;
  text-justify: inter-ideograph;
}
.footnote a, .footnote a:hover {
  color: #961E21;
}
.footnote.field {
  text-align: left;
  text-justify: none;
}
.footnote2 {
  display: inline-block;
  font-size: 11px;
  line-height: 1.5em;
  color: #000000;
  padding: 0 2% 0px 3%;
  margin: 10px 16px 10px 16px;
  text-align: justify;
  text-justify: inter-ideograph;
}
/* category */
.category {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 16px 0 12px 0;
  padding: 0;
  float: left;
}
.category_title h1 {
  height: 40px;
  margin-bottom: 34px;
  border-radius: 4px;
  box-shadow: none;
  background: #D1D1D1;
  font-size: 2em;
  font-weight: 500;
  text-indent: 12px;
  line-height: 1.4em;
  color: #ffffff;
}
.category_title h1.mid {
  height: 40px;
  font-size: 1.5em;
  line-height: 1.9em;
}
.subtitle {
  position: absolute;
  display: inline-block;
  text-align: left;
  font-size: 50%;
  text-indent: 0;
  color: #ffffff;
}
.category_title h2 {
  display: block;
  box-sizing: border-box;
  float: left;
  height: 24px;
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  background: #ffffff;
  font-size: 1em;
  font-weight: 600;
  text-indent: 18px;
  line-height: 1.6em;
  color: #666666;
}
.category_title h2.gr {
  background: #ededed;
}
.category_title.al h2 {
  font-size: 1.2em;
  line-height: 1.3em;
  letter-spacing: .1rem;
}
span.big {
  vertical-align: top;
  font-size: 1.6em;
  font-weight: 700;
  color: #FD8E2C;
}
.boxContainer {
  overflow: hidden;
}
.category_title.box {
  display: block;
  box-sizing: border-box;
  float: right;
  height: 24px;
  width: 150px;
  border: 1px solid #D1D1D1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  background: #FD8E2C;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  line-height: 1.9em;
  color: #ffffff;
  margin-top: -32px;
  z-index: 100px;
}
.category_title.box a {
  color: #ffffff;
}
.category_title.box a:hover {
  color: #999999;
}
ul.words {
  display: block;
  overflow: auto;
  width: 85%;
  padding: 0 2% 10px 3%;
  margin: 0 16px 10px 16px;
  background: none;
}
ul.words li {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 0;
  background: none;
}
ul.words li a {
  display: block;
  background: none;
  border: none;
  border-radius: none;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: normal;
  text-decoration: none;
  color: #666666;
}
span.org {
  vertical-align: top;
  font-size: 1.2em;
  color: #FD8E2C;
}
ul.words.jpn li a {
  font-size: 1em;
  line-height: 1.6em;
}
.words li a:hover {
  background: none;
  color: #D1D1D1;
}
li.button_words {
  display: inline-block;
  float: right;
  width: 100px;
  padding: -100px 8px;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 14px;
  margin-bottom: 6px;
  clear: both;
}
/* footer */
.sns {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border-top: 1px solid #D1D1D1;
  padding: 25px 2px 0 2px;
}
.band_footer {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
.container.footer {
  text-align: center;
  margin-bottom: 45px;
}

.footerlogo {
  display: inline-block;
  box-sizing: border-box;
  height: 53px;
  text-align: center;
}
#footer {
  clear: both;
  width: 100%;
  border-top: solid 1px #666;
  background-color: #013f8f;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 120%;
  bottom: 0;
}
#footerInfo {
  text-align: center;
}
#footer0 {
  padding: 6px 0 4px 0;
}
#footer2 {
  padding: 4px 0;
}
#footer3 {
  padding: 4px 0;
  margin-bottom: 30px;
}
#copyright {
  font: 90% "Verdana", "Arial", "Arial New", "ＭＳ Ｐゴシック", Sans-Serif;
}
#footer_info_left {
  display: inline-block;
  float: left;
  font-size: 0.9em;
  width: 50%;
  padding: 16px 0 5px 0;
  text-align: left;
}
#footer_info_right {
  display: inline-block;
  float: right;
  font-size: 0.9em;
  width: 50%;
  padding: 16px 0 5px 0;
  text-align: right;
}
#footer1 {
  width: 100%;
}
#footer1 .footerIn {
  background-color: #013f8f;
  padding: 30px 0;
  overflow: hidden;
}
#footer1 form {
  width: 650px;
  height: 50px;
  background: #fff;
  float: none;
  margin: 0 auto;
}
#footer1 form#foot-search1 {
  margin: 0 auto;
}
#footer1 dl {
  overflow: hidden;
}
#footer1 dt {
  overflow: hidden;
  text-indent: -999em;
  width: 260px;
  height: 50px;
  margin-left: 30px;
  float: left;
}
#footer1 dd {
  float: left;
  padding: 15px 0 0 0;
}
#footer1 dd input {
  padding-left: 5px;
}
#footer1 dd.input input, #footer1 dd.select select {
  width: 200px;
  height: 20px;
  border: 1px solid #dbdbdb;
  margin-right: 5px;
}
#footer1 dd.select select {
  margin-top: 2px;
}
#footer1 dd.input input {
  padding: 2px 3px;
  height: 18px;
  width: 196px;
}
.footermenu {
  width: 220px;
  float: left;
  overflow: hidden;
  margin: 35px 0 35px 40px;
}
.footermenu img {
  vertical-align: top;
  -webkit-transition: all 0.2s linear;
}
.footermenu_header {
  display: block;
  padding: 0 0 5px;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: solid 1px #FFFFFF;
  margin-bottom: 15px;
}
.footermenu ul {
  width: 220px;
  list-style: none;
}
.footermenu li {
  background: url("../img/footer_icon.svg") no-repeat;
  background-size: 12px;
  padding-left: 23px;
  height: 23px;
  box-sizing: border-box;
  margin-bottom: 8px;
}
.footermenu li a {
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1.2;
  position: relative;
  top:-10px;
}
.footermenu ul ul li {
  background: url("../img/sprite.png") -891px -514px no-repeat;
  padding-left: 23px;
  margin-bottom: 8px;
}
.footermenu ul ul li a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1.2;
}
.footerIn {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
#copy {
  text-align: left;
  font-size: 12px;
  color: #fff;
  clear: left;
  margin-left: 50px;
}
#copy p {
  font-size: 12px;
  padding: 0;
  margin: 30px 0 0 0;
}

/* 左下AD空きの調整 */
@media only screen and (max-width:1178px) {
.ad_left_wrap:first-child {
  margin-bottom: 16px;
}
}

/* 1025px以上で適用 */
@media only screen and (min-width: 1025px) {
.tbNone {
  display: none;
}
.container {
    width: 1080px;
}
}

/* 1024px以上で非表示 */
@media only screen and (min-width: 1024px) {
.index li.field_3, .index li.field_6, .index li.field_9, .index li.field_3 a, .index li.field_6 a, .index li.field_9 a {
  display: none;
}
.pcNone {
  display: none;
}
}

/* スマホ・タブレットで非表示 */
@media only screen and (min-width: 320px)  and (max-width: 1023px) {
.spNone {
  display: none;
}
.index li.field_2, .index li.field_5, .index li.field_8, .index li.field_2 a, .index li.field_5 a, .index li.field_8 a {
  display: none;
}
}
@media only screen and (max-width:1025px) {
.application.jump div {
    padding-top: 5px;
}
}
@media only screen and (max-width:903px) {
.article {
  margin: 0;
  border-bottom: solid 1px #C2C2C2;
}
.article.alpha {
  width: 100%;
  margin-top: 8px;
}
.article p {
  text-align: center;
}
.service {
  width: 100%;
  height: 30px;
}
.button_info.gr {
  width: 55%;
  margin-left: 0;
  font-size: 13px;
}
.button_info.gr.right {
  width: 100%;
  margin-left: 0;
}
}

/* 画面サイズが768px以上の表示に適用 */
@media only screen and (min-width: 769px) {
.container.footer {
  display: -webkit-flex;
  display: flex;
}
.container.footer div {
  -webkit-flex: 1;
    flex: 1;
}
}

/* 画面サイズが1023px以下の表示に適用 */
@media only screen and (max-width:1023px) {
.scroll_prevent {
  position: fixed;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 100%; 
 }
.header {
  padding-bottom: 30px;
  height: 118px;
}
.headerlogo {
height: 40px;
}
.headerlogo img[src$=".svg"] {
    width: 100%;
    height: 26px;
    text-align: left;
    margin-left: -2px;
}
.container {
  width: 75%;
}
.menu_icon_sp{
  position:absolute;
  top: -95px;
  height: 20px;
  width: 20px;
  margin: 0 -9.5vw;
}
.menu_icon_sp div{
  height:3px;
  border-radius:4px;
  background: #4D4D4D;
  position: relative;
  transition-duration: 500ms;
}
.menu_icon_sp div:nth-child(2){
  top:5px;
}
.menu_icon_sp div:nth-child(3){
  top:10px;
}
.menu_icon_sp.open div:first-child{
  transform: rotate(45deg);

}
.menu_icon_sp.open div:nth-child(2){
  display: none;
}
.menu_icon_sp.open div:nth-child(3){
  transform: rotate(-45deg);
  margin-top:-13px;
}
#toggle_menu {
  display: none;
  padding-top: 25px;
  background:rgba(237,237,237,0.95);

}
.header_menu_sp {
  position: relative;
}
.header_menu_sp ul {
  position:absolute;
  z-index:100;
  width:100vw;
  top:-66px;
  margin: 0 -12.5vw;
}
.header_menu_sp ul li{
  display:block;
  margin-bottom:0;
  border-top:solid 1px #C9C9C9;
  font-size: 12px;
  box-sizing: border-box;
  height: 55px;
}
.header_menu_sp ul li:nth-child(2){
  padding:0;
  border-top: none;
  height: auto;
}
.header_menu_sp ul li:last-child{
  border-bottom:solid 1px #C9C9C9;
  height: calc(100vh - 296px);
}
.header_menu_sp ul li:last-child div{
  margin: 5vw;
  position: absolute;
  top: 80vh;
}
.header_menu_sp ul li .inner{
  color:#515151;
  display: block;
  padding: 20px;
}
.header_menu_sp ul li img {
  margin-left:10px;
}
.header_menu_sp ul.login_menu_sp{
  top:0;
  left: 0;
  margin:0;
  position:relative;
}
.header_menu_sp ul.login_menu_sp li{
  height: 60px;
  background: #ffffff;
  border: none;
}
.header_menu_sp ul.login_menu_sp li:first-child{
  border-top:solid 1px #C9C9C9;
  border-bottom:solid 1px #C9C9C9;
  padding-top: 0;
}
.sfborder {
  width: 100%;
  margin-top: 0;
}
.edp {
  margin-left: 0px;
  margin-top: 0;
}
.section {
  display: block;
  text-align: center;
}
.eleven.columns.alpha {
  width: 100%;
  margin-left: 0;
}
.headerlogo {
  width: 100%;
}
.logo-lo_eow {
  margin: 0 auto;
}
.header_menu {
  width: 100%;
  margin-top: -8px;
  margin-left: 0;
  padding-right: 5px;
}
.header_login {
  width: 100%;
  margin: -25px 0 10px 0;
}
.info {
  margin-top: 16px;
  margin-bottom: 16px;
}
.button_info.cl {
  width: 46%;
}
.appli.store {
  width: 100%;
  text-align: center;
  height: 500px;
}
  .appli ul li {
  display:block;
  margin: 30px 0;
  top:20px;
}

.applogo img[src$=".svg"]{
  height: 57px;
}
.appli img {
  height: 57px;
}
.eijirou_l,.eijirou_r {
  position: relative;
}
.eijirou_l img {
  position: relative;
  top: 90px;
  height: 230px;
  width: 195px;
  }
.eijirou_r p {
position: relative;
top: -200px;
}
.applogo{
  position: relative;
  left: 10%;
}
.application {
  margin-bottom: 0;
  height: 73px;
  text-align: left;
  padding: 18px 40px;
  text-align: center;
  position: relative;
  font-weight:700;
}
  .application hr {
  border: solid #ffffff 1px;
  position: relative;
  top: 5px;
  }

  .application div.merit {
  position: absolute;
  top: 5px;
  left: 50px;
  font-weight: 400;
}
.application.jump {
  margin-bottom: 15px;
  padding: 0;
}
  
  .application.jump div {
  padding: 8px 0 8px 0px;
  width: 85%;
  height: 73%;
  text-align: center;
  top: 8px;
  position: relative;
}
  .application.jump div.merit{
  left: 77%;
  top: 10px;
  }
.ad_left {
  margin: 0;
}
.five.columns.right {
  width: 100%;
  margin-left: 0;
}
.footerlogo {
  width: 300px;
  height: 110px;
  border: solid 1px #C2C2C2;
  padding-top: 35px;
}

.footerlogo svg {
  height: 36px;
  }
.ad_wrap.s {
  margin: 0px 0 16px 0;
}
  
.index_title.sli h3 {
  background-color: #C2C2C2;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size:16px;
  line-height: 2.5em;
  height: 40px;
  margin: 8px 0;
}

  .index_title.sli.part_of_speech h3 {
  background-color: #961E21;
  line-height: 1.8em;
  height: 40px;
  border-left: 0;
  }
.index.sli ul {
  display: none;
  border:none;
}
  
.index ul.f_wrap {
    margin: 5px 0 0 0;
}
  
  .index_title.sli h3:after {
  position: relative;
  top: 60%;
  float: right;
  margin-top: -28px;
  margin-right: 10px;
  content: '>';
  font-size: 18px;
  font-weight: bold;
  -moz-transform: rotate(90deg) scale(0.9,1.5);
  -ms-transform: rotate(90deg) scale(0.9,1.5);
  -webkit-transform: rotate(90deg) scale(0.9,1.5);
  transform: rotate(90deg) scale(0.9,1.5);
  -moz-transition: all, 0.25s, linear;
  -o-transition: all, 0.25s, linear;
  -webkit-transition: all, 0.25s, linear;
  transition: all, 0.25s, linear;
  color: #ffffff;
}
.index_title.sli h3.active:after {
  margin-top: -18px;
  transform: rotate(-90deg) scale(0.9,1.5);
}
.index_title.sli h4 {
  display: block;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 8px;
  border-radius: 4px;
  box-shadow: none;
  background: #E8E8E8;
  font-size: 1em;
  font-weight: 600;
  text-indent: 8px;
  line-height: 2.6em;
  color: #4D4D4D;
  margin: 0px 0px 8px 8px;
}
.index_title.sli h4.green {
  border: 1px solid #9bd563;
  background: #9bd563;
  color: #fff;
}
.index_title.sli h4.orange {
  border: 1px solid #fb9e54;
  background: #fb9e54;
  color: #fff;
}
.index_title.sli h4:after {
  position: relative;
  top: 50%;
  float: right;
  margin-top: -23px;
  margin-right: 10px;
  content: '>';
  font-size: 18px;
  font-weight: bold;
  -moz-transform: rotate(90deg) scale(0.9,1.5);
  -ms-transform: rotate(90deg) scale(0.9,1.5);
  -webkit-transform: rotate(90deg) scale(0.9,1.5);
  transform: rotate(90deg) scale(0.9,1.5);
  -moz-transition: all, 0.25s, linear;
  -o-transition: all, 0.25s, linear;
  -webkit-transition: all, 0.25s, linear;
  transition: all, 0.25s, linear;
  color: #4D4D4D;
}
.index_title.sli h4.active:after {
  margin-top: -17px;
  transform: rotate(-90deg) scale(0.9,1.5);
}
.index li.pos {
  height: 40px;
  width: 24%;
}
.index li.field_1, .index li.field_2, .index li.field_4, .index li.field_5, .index li.field_6, .index li.field_7, .index li.field_8 {
  height: 40px;
  width: 24%;
}
.index li.field_1 a, .index li.field_2 a, .index li.field_3 a, .index li.field_4 a, .index li.field_5 a, .index li.field_6 a, .index li.field_7 a, .index li.field_8 a, .index li.field_9 a {
  height: 40px;
  font-size: 0.9em;
  line-height: 3.1em;
}
  
.index li.field_3, .index li.field_6, .index li.field_9, .index li.field_3 a, .index li.field_6 a, .index li.field_9 a {
    display: none;
}
  
.index li.level {
  height: 40px;
  width: 24%;
}
.index li a {
  height: 40px;
  line-height: 2.6em;
}
.index li.alphabet {
  height: 40px;
  float: left;
  width: 13.2857%;
}
.index li.alphabet_last {
  width: 27.5714%;
}
.index li.aiueo {
  height: 40px;
  width: 19%;
}
#footer_info_left {
  width: 100%;
  padding: 16px 0 0 0;
  text-align: center;
}
#footer_info_right {
  width: 100%;
  padding: 0px 0 5px 0;
  text-align: center;
}
.footermenu {
  width:100%;
  padding: 0 40px;
  margin: 0;
  box-sizing: border-box;
  width: auto;
}
.footermenu ul{
  width:auto;
}

.footerIn {
  width:100%;
}
.footermenu li {
  margin-left: 10px;
  display: inline-block;
}
#copy {
  margin-left: 40px;
  font-size: 12px;
  }
}

/* 画面サイズが550px以下の場合に適用  */
@media only screen and (max-width:550px) {
}
/* 画面サイズが450px以下の場合に適用 */

@media only screen and (max-width:450px) {
.category_title h1.mid {
  height: 40px;
  font-size: 1.1em;
  line-height: 2.5em;
}
.note {
  transform: scale(0.9, 1);
  -moz-transform: scale(0.9, 1); /* Firefox※ */
  -webkit-transform: scale(0.9, 1); /* Chrome,Safari */
  -ms-transform: scale(0.9, 1); /* IE */
  transform-origin: 0 0;
  width: 111.11%;
}
.header_menu_sp ul {
  margin: 0 -3vw;
}
.menu_icon_sp {
    margin: 0;
}
.header_menu_sp ul li:last-child div{
  top: 70vh;
}
}

/* 画面サイズが414px以下の場合に適用 */
@media only screen and (max-width:414px) {
.spNone {
  display: none;
}
.container {
  width: 94vw;
  padding: 0;
  margin: 0 3vw;}
.eleven.columns.alpha {
  width: 100%;
}
.ad_left {
  width: 100%;
  margin: 0;
}
.ad_left_wrap {
  margin-bottom: 8px;
  margin-left: 0;
}
span.jpn_s.adjust {
  font-size: 0.8em;
  vertical-align: top;
}
}
.index .speech li a {
	border: 1px solid #86c24c;
}
.index .speech li a:hover {
	background: #55aa03;
	color: #ffffff;
	border: 1px solid #d1d1d1;
}
.index .related_terms li a {
	border: 1px solid #fb8b4d;
}
.index .related_terms li a:hover {
	background: #fc5b02;
	color: #ffffff;
	border: 1px solid #d1d1d1;
}
