@charset "UTF-8";

/* ▼ layout ▼
---------------------------------------------------- */
/* added 081126 */
* {
	margin: 0;
	padding: 0;
}


/* added 081126 / modified 100405 */
body {
	background-color: #FFFFFF;
	width: 100%;
	color: #222;
	font-size: 80%;
}

/* ブロック格納用ボディ：added 081126 /modified: 100405 */
#AreaBody {
	margin: 0 auto;
	padding:10px 0;
	max-width: 950px;
	background-color: #FFFFFF;
}

/* IE6 用：added 100405 */
*html #AreaBody {
	width: expression((document.documentElement.clientWidth > 950)? "950px" : "auto"); 
}

/* ヘッダ：added 100405 */
#AreaHeader {
	width: 100%;
	height:40px;
}

/* 本体上部（コンテンツ）：added 100405 */
#AreaUpperLeft {
	width: 100%;
	font-family: "Arial", "Arial New", "ＭＳ Ｐゴシック", Sans-Serif;
	background-color: #FFFFFF;
}

/* フッタ：added 100405 */
#AreaFooter {
	width: 100%;
	clear: both;
	padding-top: 10px;
}

#AreaFooter a,
#gnav950 a {
	color: #004098;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	font-size: 90%;
}

#AreaFooter a:hover,
#gnav950 a:hover {
	color: #004098;
	text-decoration: none;
}

#pagetop {
	margin-bottom: 10px;
	text-align: right;
	float: right;
}

#footer {
	clear: both;
	border-top: solid 1px #666;
	text-align: center;
}

#footerInfo {
	text-align: center;
}

#footer1 {
	border-bottom: solid 1px #999;
	padding: 6px 0 4px 0;
}

#footer2 {
	padding: 4px 0;
}

#footer3 {
	border-bottom: solid 1px #666;
	padding: 4px 0;
}

#copyright {
	padding: 8px 0;
}

/* ▼ navigation ▼
---------------------------------------------------- */
/* グローバルナビゲーション950px用：added 100405 */

#gnav950 {
	width: 950px;
	margin-bottom: 0px;
}

#gnav950 #gnav_main {
	float: left;
	width: 868px;
	border: solid 1px #7f9fcb;
}

#gnav950 #gnav_main .inner {
	border: solid 1px #fff;
	background: #fff url(/content/img/gnav_bg.jpg) repeat-x left top;
}

#gnav950 ul {
	list-style: none;
}

#gnav950 #gnav_main li {
	float: left;
	width: 108px;
	margin: 2px 0;
	padding: 3px 0;
	text-align: center;
	background: url(/content/img/gnav_sparator.gif) repeat-y right center;
}

#gnav950 #gnav_main li.w110 {
	width: 110px;
}

#gnav950 #gnav_main .no_separator {
	background: none;
	border: none;
	width: 105px;
}

#gnav950 #gnav_sub {
	float: right;
	width: 72px;
}

#gnav950 #gnav_sub li {
	padding: 1px 0 1px 12px;
	font-size: 9px;
	background: url(/content/img/arrow_04.gif) no-repeat left center;
}

/* ▼ parts ▼
---------------------------------------------------- */
/* フロート制御：added 081126 / modified 100405 */
br.cl_l {
	clear: both;
}

/* 点線：added 081126 */
div.bg_i {
	padding-top: 5px;
}

/* マージン設定：：added 081126 */
.mt_05 {
	margin-top: 5px;
}

.mt_10 {
	margin-top: 10px;
}

.mt_20 {
	margin-top: 20px;
}

.mr_05 {
	margin-right: 5px;
}

.mr_10 {
	margin-right: 10px;
}

.mb_3 {
	margin-bottom: 3px;
}

.mb_10 {
	margin-bottom: 10px;
}

.ml_05 {
	margin-left: 5px;
}


/* ▼ results ▼
---------------------------------------------------- */
#resultsArea {
	font-family: "Arial", "Arial New", "ＭＳ Ｐ ゴシック", Sans-Serif;
}

#resultsArea a:link, 
#resultsArea strong a:link {
	color: #000088;
	text-decoration: none;
}

#resultsArea a:visited, 
#resultsArea strong a:visited {
	color: #00008B;
	text-decoration: none;
}

#resultsArea a:hover,
#resultsArea strong a:hover{
	text-decoration: underline;
}

#resultsArea a:active,
#resultsArea strong a:active{
	text-decoration: underline;
}

#resultsList ul{
	margin-left: 1.3em;
	padding-left: 0;
}

#resultsList ol{
	margin-left: 2em;
	margin-bottom: 10px;
	padding-left: 0;
}

#resultsList li div{
	margin-bottom: 5px;
}

#resultsList td {
	line-height: 160%;
	padding-bottom: 10px;
	padding-left: 10px;
}

#resultsList li div .ul_je{
	font-size:100%;
	list-style-type:square;
}

/* 文字装飾
---------------------------------------------------- */
.midashi{
	color: #00008B;
	font-size: 110%;
	font-weight: bold;
}

.searchwordfont{
	color: #DC143C;
/*	font-size: 110%; */
	font-weight: bold;
}

#searchWord {
	font-size: medium;
	color: #DC143C;
}

.expmidashi{
	color: #DC143C;
	font-size: 110%;
	font-weight: bold;
}

.expwordfont{
	color: #DC143C;
/*	font-size: 110%; */
	font-weight: bold;
}

.smallfont{
	font-size: 8pt;
}

.smallredfont{
	color: #DC143C;
	font-size: 7pt;
}

.wordclass{
	color: #34429C;
}

.kana{
	color: #808080;
}

.hklabel{
	color: #008000;
}

.idmlabel{
	color: #008000;
}

/* ▼ misc ▼
---------------------------------------------------- */
.alertmsg {
	margin: 0px 0px 5px 0px;
	padding:5px;
	border: 3px #DC143C dotted;
}

/*	clearfix
------------------------------------*/
.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
.clearfix {
	_height: 1px;
	min-height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}