body{
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 12px;
	color: #333333
}

td{
	font-size: 12px;
	color: #333333
}
A{
	text-decoration: underline
}

.e10{
	font-size:12px;
	line-height:11px
}

.j10{
	font-size:11px;
	line-height:13px
}

.j12{
	font-size:12px;
	line-height:15px
}

.j12x{
	font-size:12px;
	line-height:19px
}
